        <footer>
            <table>
                <tr>
                    <th>
                        <img src="/images/gmail.png">
                    </th>
                    <td> malakbelabdi@gmail.com</td>
                    <th>
                        <img src="/images/github.png">
                    </th>
                    <td><a href="https://github.com/BelabdiMalak">BelabdiMalak</a></td>
                    <th>
                        <img src="/images/linkedin.png">
                    </th>
                    <td><a href="https://www.linkedin.com/in/malak-belabdi-0278b520b/">malak-belabdi-0278b520b</a></td>
                </tr>
            </table>

        </footer>


    </body>
</html>