<!DOCTYPE html>
<!-- preciser la langue et le sens de lecture utilisé -->
<html lang="fr" dir="ltr" >

    <head>

        <!-- tite du site web -->
        <title> Personnalités scientifiques : Léonard De vinci</title>

        <!-- spécification d'encodage -->
        <meta charset="utf-8"/>

        <!-- mots clés utilies pour les robots d'indexation -->
        <meta name="keywords" content="personnalité scientifique,Léonard De vinci,Léonardo Da vinci,Léonardo,inventeurs,peintres,célébrités"/>

        <!-- balise utiliser pour controler l'affichage de la page selon le media-->
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

        <!-- spécification(externe) des styles utilisés -->
        <link rel="stylesheet" href="styles.css">

    </head>

    <!-- corps de la page -->
    <body>

        <header>
            <!-- image clicable -->
            <a href="https://www.usthb.dz"><img src="/images/usthb_logo.png"></a>
            <h1>Personnalités scientifiques : Léonard De vinci</h1>
        </header>
