<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>

<section id="bio">
    <figure>
        <img alt="Leonard de Vinci." src="/images/leonardo1.jpeg">
        <figcaption>
            <strong>Leonard de Vinci.</strong>
        </figcaption>
    </figure>

        
    <table border="1" id="tab">
        <tr>
            <th>Naissance</th>
            <td>15 avril 1452 Vinci, Drapeau de la République florentine République<br> florentine</td>
        </tr>

        <tr>
            <th>Décés</th>
            <td>2 mai 1519 (à 67 ans)Château du Clos Lucé, Amboise, Royaume de<br> France Royaume de France</td>
        </tr>
        
        <tr>
            <th>Période d'activité</th>
            <td>Jusqu'en 1519</td>
        </tr>
        
        <tr>
            <th>Nom de naissance</th>
            <td>Leonardo di ser Piero da Vinci</td>
        </tr>
        
        <tr>
            <th>Activités</th>
            <td>Peintre, ingénieur, astronome, philosophe, anatomiste, mathématicien,<br> sculpteur, polymathe,architecte, ingénieur civil, diplomate, inventeur, <br>compositeur, poète, musicien, physicien,physiologiste, botaniste,<br> chimiste, zoologiste, caricaturiste</td>
        </tr>
        
        <tr>
            <th>Maître</th>
            <td>Andrea del Verrocchio</td>
        </tr>

        <tr>
            <th>Élève</th>
            <td>Salai, Francesco Melzi…</td>
        </tr>

        <tr>
            <th>Lieux de travail</th>
            <td>Milan, Amboise, Rome, Florence</td>
        </tr>
        
        <tr>
            <th>Mouvement</th>
            <td>Haute Renaissance</td>
        </tr>

        <tr>
            <th>Mécènes</th>
            <td>Laurent de Médicis, Ludovic Sforza, François Ier…</td>
        </tr>

        <tr>
            <th>Père</th>
            <td>Piero da Vinci</td>
        </tr>

        <tr>
            <th>Mère</th>
            <td>Caterina di Meo Lippi (d)</td>
        </tr>
        
        <tr>
            <th>Œuvres principales</th>
            <td>La Joconde, La Cène, L’Homme de Vitruve, etc.</td>
        </tr>

        <tr>
            <th>Signature</th>
            <td><img alt="sginature"src="/images/signature.png"></td>
        </tr>
          
    </table>
</section>

<section id="section">
    <p><b>Léonard de Vinci </b>(italien : Leonardo di ser Piero da VinciLeonardo di ser Piero da Vinci écouter, dit Leonardo da Vinci), né le 15 avril 1452 à Vinci (Toscane) et mort le 2 mai 1519 à Amboise (Touraine), est un peintre florentin et un homme d'esprit universel, à la fois artiste, organisateur de spectacles et de fêtes, scientifique, ingénieur, inventeur, anatomiste, peintre, sculpteur, architecte, urbaniste, botaniste, musicien, poète, philosophe et écrivain.</p>
    <br>
    <p>Après son enfance à Vinci, Léonard est élève auprès du célèbre peintre et sculpteur florentin Andrea del Verrocchio. Ses premiers travaux importants sont réalisés au service du duc Ludovic Sforza à Milan. Il œuvre ensuite à Rome, Bologne et Venise et passe les trois dernières années de sa vie en France, à l'invitation du roi François Ier.</p>
    <br>
    <p>Léonard de Vinci est souvent décrit comme l’archétype et le symbole de l’homme de la Renaissance, un génie universel, un philosophe humaniste, observateur et expérimentateur, avec un « rare don de l’intuition de l’espace », et dont la curiosité infinie est seulement égalée par la force d’invention. Nombre d'auteurs et d'historiens le considèrent comme l'un des plus grands peintres de tous les temps et certains comme la personne la plus talentueuse dans le plus grand nombre de domaines différents ayant jamais vécu.</p>
    <br>
    <p>C'est d'abord comme peintre que Léonard de Vinci est reconnu. Deux de ses œuvres, La Joconde et La Cène, sont des peintures mondialement célèbres, souvent copiées et parodiées, et son dessin de l’homme de Vitruve est également repris dans de nombreux travaux dérivés. Seule une quinzaine de tableaux sont parvenus jusqu'à nous. Ce petit nombre est dû à ses expérimentations constantes et parfois désastreuses de nouvelles techniques et à sa procrastination chronique. Néanmoins, ces quelques œuvres, jointes à ses carnets contenant plus de 6 000 pages de notes, dessins, documents scientifiques et réflexions sur la nature de la peinture (rassemblés en dix Codex publiés au xixe siècle, sont un legs aux générations d'artistes qui lui ont succédé. Nombre de ces derniers le considèrent comme n'ayant été égalé que par Michel-Ange.</p>
    <br>
    <p>Comme ingénieur et inventeur, Léonard développe des idées très en avance sur son temps, comme l'avion, l'hélicoptère, le sous-marin et même jusqu'à l'automobile. Très peu de ses projets sont réalisés ou même seulement réalisables de son vivant, mais certaines de ses plus petites inventions comme une machine pour mesurer la limite élastique d'un câble entrent dans le monde de la manufacture. En tant que scientifique, Léonard de Vinci a beaucoup fait progresser la connaissance dans les domaines de l'anatomie, du génie civil, de l'optique et de l'hydrodynamique.</p>
    <br>    
    <h2>Biographie</H2>
    <hr>
</section>


<section>
    <details>
        <summary><h3>Enfance</H3></summary>
        <p>
        <figure>
            <img alt="Blason de la famille da Vinci. "src="/images/flag.png">
            <figcaption>
                <strong>Blason de <br>la famille da Vinci.</strong>
            </figcaption>
        </figure>
        
        <p>Léonard de Vinci est né le samedi 15 avril 1452 « à la troisième heure de la nuit », c'est-à-dire trois heures après l'Ave Maria, soit 22 h 307, d’une relation amoureuse illégitime entre Messer Piero Fruosino di Antonio da Vinci, notaire, chancelier et ambassadeur de la République florentine et descendant d’une riche famille de notables italiens, et une certaine Caterina, dans le petit village toscan d’Anchiano, à deux kilomètres de Vinci, sur le territoire de Florence en Italie. Caterina serait, selon la tradition, fille de paysans pauvres. D'après les conclusions disputées d'une étude dactyloscopique de 2006, elle pourrait être une esclave venue du Moyen-Orient. Depuis lors, des recherches menées sur les documents communaux et paroissiaux ou sur les registres fiscaux l'ont identifiée respectivement à une pauvre orpheline, Caterina di Meo Lippi, ou à Caterina di Antonio di Cambio, fille de petits cultivateurs.</p>
        <bR>
        <p>Léonard, ou plutôt Lionardo selon son nom de baptême, est baptisé puis passe ses cinq premières années chez sa mère à Anchiano. Il a cinq marraines et cinq parrains, tous habitant le village de Vinci, dont le nom provient de celui des « vinchi », plantes assimilables à des joncs, utilisées dans l'artisanat toscan et poussant près du ruisseau Vincio.</p>
        <br>
        <p>À cette époque, les conventions d’appellation modernes ne se sont pas encore développées en Europe. Seules, les grandes familles font usage du nom de leur appartenance patronymique. L’homme du peuple est désigné par son prénom, auquel on adjoint toute précision utile : le nom du père, le lieu d’origine, un surnom, le nom du maître pour un artisan, etc. Par conséquent, le nom de l’artiste est Leonardo di ser Piero Da Vinci, ce qui signifie Leonardo, fils de maître Piero De Vinci ; néanmoins le « Da » porte une majuscule afin de distinguer qu'il s'agit d'un patronyme. Léonard lui-même signe simplement ses travaux Leonardo ou Io, Leonardo (« Moi, Léonard »). La plupart des autorités rapportent donc ses travaux à Leonardo sans le da Vinci. Vraisemblablement, il n’emploie pas le nom de son père parce qu’il est un enfant illégitime.</p>
        <br>
        <figure class="right">
            <img alt="Maison natale de Léonard de Vinci à Anchiano." src="/images/house.jpg">
            <figcaption><strong>Maison natale de Léonard de<br> Vinci à Anchiano.</strong>
        </figcaption>
        </figure>
        
        <!-- elements paragraphes -->
        
        <p>En 1457, il a cinq ans quand sa mère se marie avec Antonio di Piero Buti del Vacca da Vinci, un paysan de la ville, avec lequel elle aura cinq enfants. Il est alors admis dans la maison de la famille de son père, du village de Vinci qui, entre-temps, a épousé une jeune fille d'une riche famille de Florence, âgée de 16 ans, Albiera degli Amadori. Celle-ci, sans enfant, reporte toute son affection sur Léonard, mais elle meurt très jeune en couches, en 1464. Considéré dès sa naissance comme un fils à part entière par son père, il ne fut cependant jamais légitimé. Son père se maria quatre fois et lui donna dix frères et deux sœurs légitimes venus après Léonard. Il aura de bons rapports avec la dernière femme de son père, Lucrezia Guglielmo Cortigiani, et laissera une note l'appelant <em>« chère et douce mère ».</em></P>
        <br>
        <p>Léonard est également élevé par son oncle Francesco qui joue un rôle important dans sa formation, et par son grand-père Antonio da Vinci qui lui apprend le don d'observation de la nature, lui répétant constamment « Po l’occhio ! » (ouvre l’œil !).</p>
        <br>
        <p>Livré à lui-même, il reçoit une éducation assez libre comme les autres villageois de son âge, apprend entre douze et quinze ans les rudiments de lecture, d'écriture et surtout d'arithmétique dans une scuola d’abaco (école d'abaco) destinée aux fils de commerçants et artisans15. Non « lettré », il n'y étudie pas le grec et le latin (il n'apprendra imparfaitement ces deux langues que doivent maîtriser les savants et les lettrés qu'en autodidacte seulement à l'âge de 40 ans16), et une orthographe chaotique montre que cette instruction n'est pas sans lacunes ; en tout cas, il ne peut prétendre à des études universitaires.</p>
        <br>
        <p>Sa grand-mère paternelle, Lucia di ser Piero di Zoso, céramiste et proche de Léonard, est peut-être la personne qui l'initia aux arts. Un présage connu rapporte qu'un milan venu du ciel aurait fait un vol stationnaire au-dessus de son berceau, la queue de l'oiseau le touchant au visage.</p>
        <br>
        <p>Giorgio Vasari, le biographe du xvie siècle des peintres de la Renaissance, raconte, dans Les Vies des meilleurs peintres, sculpteurs et architectes (1568), l'histoire d'un paysan local qui demanda à ser (Signore) Piero que son talentueux fils peigne une image sur un bouclier de bois utilisé comme épouvantail, une rondache. Léonard, rassemblant différentes parties d'animaux qu'il observait attentivement lors de ses pérégrinations dans la campagne, peignit une image représentant un dragon crachant du feu, si réussie que ser Piero la vendit à un marchand d'art florentin, lui-même la revendant au duc de Milan. Entre-temps, après avoir réalisé un bénéfice, ser Piero acheta une plaque décorée d'un cœur transpercé d'une flèche qu'il donna au paysan. Cette anecdote est cependant à prendre avec précaution car, selon Paul Barolsky, de nombreux récits des Vies constituent de pures inventions poétiques.</p>
        <br>
        </p>
    </details>
</section>



<section>
    <details>
        <summary><H3>Formation à l’atelier de Verrochio</H3></summary>
        <p><br>
        <figure>
            <img alt="son premier dessin"src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Study_of_a_Tuscan_Landscape.jpg/220px-Study_of_a_Tuscan_Landscape.jpg">
            <figcaption><strong>Le premier dessin connu de <br> Léonard : Paysage de la vallée<br> de l'Arno, 1473, Musée des <br>Offices de Florence.</strong></figcaption>
        </figure>
        
        <p>Le jeune Léonard est proche de la nature qu’il observe avec une vive curiosité et s’intéresse à tout. Il dessine déjà des caricatures et pratique l'écriture spéculaire en dialecte toscan.</p>
        <br>
        <p>Giorgio Vasari, dans sa biographie de Léonard, raconte une anecdote sur les premiers pas dans la carrière artistique de celui qui allait devenir un des plus grands peintres de la Renaissance. Un jour, le père de Léonard, ser Piero, « prit plusieurs de ses dessins et les soumit à son ami Andrea del Verrocchio, en le priant instamment de lui dire si Léonard devait se consacrer à l’art du dessin et s’il pourrait parvenir à quelque chose en cette matière. Andrea s’étonna fort des débuts extraordinaires de Léonard et exhorta ser Piero à lui permettre de choisir ce métier ; sur quoi, ser Piero résolut que Léonard entrerait à l’atelier d’Andrea. Léonard ne se fit pas prier ; non content d’exercer ce métier, il exerça ensuite tous ceux qui se rattachent à l’art du dessin ». C’est ainsi que Léonard est placé comme élève apprenti à partir de 1469 dans un des plus prestigieux ateliers d’art de la Renaissance de Florence sous le patronage d’Andrea del Verrocchio. Il doit à ce dernier sa formation multidisciplinaire d’excellence et côtoie alors dans sa bottega (atelier d'artistes réunissant maîtres et élèves) d’autres artistes comme Sandro Botticelli, Le Pérugin et Domenico Ghirlandaio.</p>
        <br>
        <p>En effet, jusqu'en 1468, Léonard est recensé comme résident de la commune de Vinci, mais il est très souvent à Florence où son père travaille.</p>
        <br>
        <p>Verrocchio est un artiste renomméNote 11 très éclectique : orfèvre et forgeron de formation, peintre, sculpteur et fondeur qui travaille notamment pour le riche mécène Laurent de Médicis. Les commandes principales sont des retables et des statues commémoratives pour les églises. Cependant, les plus grandes commandes sont constituées de fresques pour les chapelles — comme celles créées par Domenico Ghirlandaio et son atelier pour la Chapelle Tornabuoni — et de grandes statues, telles que les statues équestres de Gattamelata par Donatello et Bartolomeo Colleoni de Verrocchio.</p>
        <br>
        <figure class="right">
            <img alt="Le Baptême du Christ par <br>Verrocchio, huile sur bois, Musée des Offices de Florence, l’ange de gauche." src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Andrea_del_Verrocchio%2C_Leonardo_da_Vinci_-_Baptism_of_Christ_-_Uffizi.jpg/220px-Andrea_del_Verrocchio%2C_Leonardo_da_Vinci_-_Baptism_of_Christ_-_Uffizi.jpg">
            <figcaption ><strong>Le Baptême du Christ par <br>Verrocchio, 1470-1480,<br> huile sur bois, Musée des<br> Offices de Florence. Léonard<bR> travailla notamment l’ange <br>de gauche.</strong></figcaption>
        </figure>
        
        <p>Après un an passé au nettoyage des pinceaux et autres petits travaux d’apprenti, Léonard est initié par Verrocchio aux nombreuses techniques pratiquées dans un atelier traditionnel, bien que certains artisans soient spécialisés dans des tâches telles que l’encadrement, les dorures et le travail du bronze. Il a donc eu l’occasion d’apprendre notamment des bases de la chimie, de la métallurgie, du travail du cuir et du plâtre, de la mécanique et de la menuiserie, ainsi que des techniques artistiques de dessin, de peinture et de sculpture sur marbre et sur bronze. Il est également initié à la préparation des couleurs, à la gravure et à la peinture des fresques. Par la suite, Verrocchio confie à son élève — qu’il trouve exceptionnel — le soin privilégié de terminer ses tableaux.</p>
        <br>
        <p>Mais la formation reçue lors de son apprentissage à l'atelier Verrochio semble plus large encore. Léonard acquiert la connaissance du calcul algorithmique et il cite les deux abacistes florentins les plus en vue, Paolo Toscanelli del Pazzo et Leonard o Chernionese. Plus tard, Léonard paraît bien faire allusion à la Nobel opera de arithmética, de Piero Borgi, imprimée à Venise en 1484, et qui représente bien la science de ces écoles d'abaques.</p>
        <br>
        <p>Il n’y a pas d’œuvre de Léonard connue pendant cette période mais, selon Vasari, il aurait collaboré à une peinture nommée Le Baptême du Christ (1472-1475)27. C’est d’ailleurs, selon la légende, à cause de la qualité du petit ange peint par Vinci pour ce tableau que Verrocchio, se sentant surpassé par son jeune assistant, décide de ne plus peindre. Selon la tradition qui veut que ce soit l’apprenti qui prenne la pose, Léonard aurait servi de modèle à la statue en bronze du David de Verrocchio. Il est également supposé que l’Archange Raphaël dans l’œuvre Tobie et l’Ange de Verrocchio est le portrait de Léonard.</p>
        <br>
        <p>En 1472, à l’âge de 20 ans, il est enregistré dans le « Livre rouge » de la guilde de Saint-Luc, célèbre guilde des artistes peintres et des docteurs en médecine de Florence, le Campagnia de Pittori. Il y a quelques traces de cette période de la vie de Léonard, dont la date d’un de ses premiers travaux, un dessin fait à la plume et à l’encre, Paysage de Santa Maria della neve (1473).</p>
        <br>
        <p>Par la suite, sa carrière de peintre débute par des œuvres immédiatement remarquables, telles que L'Annonciation (1472-1475). Il améliore la technique du sfumato (impression de brume) à un point de raffinement jamais atteint avant lui.</p>
        <br>
        <p>Il est toujours mentionné en 1476 comme assistant de Verrocchio, car, même après que son père lui eut mis en place son propre atelier, son attachement à Verrocchio est tel qu’il a continué à collaborer avec lui. Pendant cette période, il reçoit des commandes personnelles et peint son premier tableau, La Madone à l'œillet (1476).</p>
        <br>
        <p>Léonard s'affirme presque tout de suite comme un ingénieur : en 1478, il offre de soulever, sans en causer la ruine, l'église octogone de Saint-Jean de Florence, le baptistère actuel, pour y ajouter un soubassement.</p>
        <br>
        <p>Les archives judiciaires de 1476 montrent que, avec trois autres hommes, il a été accusé de sodomie sur Jacopo Saltarelli, pratique à l’époque illégale à Florence. Tous ont été acquittés des charges retenues, probablement grâce à l'intervention de Laurent de Médicis, mais Léonard a dû passer deux mois en prison pendant l'enquête judiciaire. Il n'est pas exclu que cette dénonciation soit le fruit de la jalousie suscitée par la gloire qui assaille vite Léonard ou qu'elle vise au tout premier chef Leonardo de Tornabuoni, et à travers lui Laurent de Médicis dont la mère était une Tornabuoni.</p>
        <br>
        <p>Deux années plus tard, à 26 ans, il quitte son maître après l'avoir brillamment dépassé dans toutes les disciplines. Léonard de Vinci devient alors maître-peintre indépendant.</p>
        <br>
        </P>
    </details>
</section>

<section>
    <details>
        <summary><h3>Au service de Ludovic Sforza (1482-1499)</h3></summary>
        <p>
        <br>
        <figure>
            <img alt="L’Adoration des mages"src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Leonardo_da_Vinci_-_Adorazione_dei_Magi_-_Google_Art_Project.jpg/220px-Leonardo_da_Vinci_-_Adorazione_dei_Magi_-_Google_Art_Project.jpg">
            <figcaption><strong>L’Adoration des mages, vers<br> 1481-1482, Galerie des <br>Offices de Florence. Ce <br>tableau a été interrompu <br>par le départ de Léonard <br>pour Milan.</strong></figcaption>
        </figure>
        
        
        <p>En 1481, le monastère de San Donato lui commande L’Adoration des mages, mais Léonard ne terminera jamais ce tableau, probablement déçu ou vexé de ne pas être choisi par le pape Sixte IV pour la décoration de la chapelle Sixtine du Vatican à Rome, où il se trouve en concurrence avec plusieurs peintres. Le néoplatonisme — en vogue à l’époque à Florence — joue peut-être également un rôle dans son départ vers une ville plus académique et pragmatique comme Milan. Cela est probablement plus en phase avec son esprit, qui s'appuie sur un développement empirique, grâce à ses multiples expériences.</p>
        <br>
        <p>Vinci peint La Vierge aux rochers (1483-1486) pour la confraternité de l’Immaculée Conception à la chapelle San Francesco Grande de Milan, mais ce tableau sera au centre d’un conflit entre l’auteur et ses commanditaires pendant plusieurs années. En effet, Léonard s'engage avec le droit de pouvoir copier l'œuvre, mais cela lui est refusé par la suite ; il se voit donc contraint de stopper son travail, provoquant du retard. Le problème ne sera résolu que par des décisions de justice et les interventions d'amis.</p>
        <br>
        <p>À Florence, le travail de Léonard ne passe pas inaperçu. Laurent de Médicis apprend que Léonard a créé une lyre argentée en forme de tête de cheval. Impressionné par son travail, il envoie Léonard à Milan comme émissaire et pour qu'il travaille pour le mécène et duc de Milan, Ludovic Sforza. Le but de cette manœuvre est de rester en bonnes relations avec ce rival important.</p>
        <br>
        <p>Léonard est très probablement accompagné par le musicien Atalante Migliorotti. Il écrit également une lettre à Sforza, lettre qui figure dans le Codex Atlanticus et qui décrit les nombreuses et diverses choses merveilleuses qu’il pourrait faire dans le domaine de l’ingénierie ; il informe le seigneur qu’il peut aussi peindre. Ce texte est bien dans la tradition des ingénieurs qui l'ont précédé. Il reprend ainsi le même programme, les mêmes curiosités et les mêmes recherches : désormais, c'est bien en ingénieur que Léonard va vivre et travailler. Sforza l’emploie à des tâches diverses sous le titre mythique d’« Apelle florentin », réservé aux grands peintres. L’artiste est ainsi « ordonnateur de fêtes et spectacles aux décors somptueux » du palais et invente des machines de théâtre qui émerveillent le public. Il peint plusieurs portraits de la cour milanaise. Léonard de Vinci est porté sur la liste des ingénieurs des Sforza et lorsqu'on l'envoie à Pavie, il est qualifié d'« ingeniarius ducalis »17. Mais des contacts avec les cercles éclairés de Milan lui montrent également toutes les lacunes de sa formation.</p>
        <br>
        <p>Il s’occupe également de l’étude pour le dôme de la cathédrale de Milan et d’une version en argile pour faire un moule pour le Gran Cavallo (« Il Cavallo »), le cheval de Léonard), une imposante statue équestre en l’honneur de Francesco Sforza, le père et prédécesseur de Ludovic ; faite de soixante-dix tonnes de bronze, elle constitue une véritable prouesse technique pour l’époque. Cette statue reste pourtant inachevée pendant plusieurs années, Michel-Ange reconnaissant lui-même qu’il est incapable de la fondre. Lorsque Léonard finit la version en argile pour le moule et ses plans pour le processus de fonte, le bronze prévu pour la statue est utilisé à la création de canons pour défendre la ville de l’invasion de Charles VIII de France.</p>
        <br>
        <figure class="right">
            <img alt="Étude d’un cheval " src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Study_of_horse.jpg/220px-Study_of_horse.jpg">
            <figcaption><strong>Étude d’un cheval par<br> Léonard, probablement dans<br> le cadre du développement <bR>du Cheval de Léonard. Vers<br> 1490, Royal Library de <bR> Windsor.</strong></figcaption>
        </figure>
        
        <p>En 1490, il participe à une sorte de congrès d'architectes et d'ingénieurs, réunis pour l'achèvement du Dôme de Milan, et fait la connaissance d'un autre ingénieur dont la renommée est bien établie, Francesco di Giorgio Martini. Ce dernier l'emmène à Parme, avec Giovanni Antonio Amadeo et Luca Fancelli, où on lui a demandé une autre consultation pour la construction de la cathédrale.</P>
        <br>
        <p>C’est à cette époque que Léonard réfléchit à des projets techniques et militaires. Il améliore les horloges, le métier à tisser, les grues et de nombreux autres outils. Il étudie aussi l’urbanisme et propose des plans de cités idéales. Il s'intéresse à l'aménagement hydraulique et un document de 1498 le cite comme ingénieur et chargé de travaux sur les fleuves et les canaux.</P>
        <br>
        <p>Bien que vivant à Milan entre 1493 et 1495, Léonard a noté dans ses documents d’imposition qu’il a, à sa charge, une femme appelée Caterina. À la mort de celle-ci, en 1495, la liste détaillée des dépenses relatives à ses funérailles laisse à penser que c’était sa mère Caterina, plutôt qu’une servante.</P>
        <br>
        <p>Vers 1490, il crée une académie portant son nom où il enseigne pendant quelques années son savoir, tout en notant ses recherches dans de petits traités. La fresque La Cène (1494-1498) est peinte pour le couvent dominicain de Santa Maria delle Grazie18. En 1496, Luca Pacioli arrive à Milan ; Léonard de Vinci se lie tout de suite d'amitié et réalise pour lui les planches gravées de la Divina proportione. Un peu plus tard, en 1498, il réalise le plafond du château des Sforza.</p>
        <br>
        <p>En 1499, lorsque les troupes de Louis XII de France prennent le duché de Milan et destituent Ludovic Sforza — lequel s’enfuit en Allemagne chez son neveu Maximilien Ier du Saint-Empire35 — sa statue équestre en argile est détruite par les Français, qui l’utilisent comme cible d’entraînement.</P>
        <br>
        <p>Louis XII revendique ses droits à la succession des Visconti. Louis XII envisage de découper le mur représentant La Cène pour l’emporter en France, comme l’imaginera également Napoléon Ier quelques siècles plus tard. Avec la chute de Sforza, Léonard entre au service du comte de Ligny, Louis de Luxembourg ; celui-ci lui demande de préparer un rapport sur l'état de la défense militaire de la Toscane. Le retour inopiné de Ludovic Sforza modifie ses projets et, avec son assistant Salai, il fuit Milan en février 1499 pour Mantoue puis pour Venise.</p>
        <br>
        </P>
    </details>
</section>


<section>
    <details>
        <summary><h3>Artiste et ingénieur (1499-1516)</h3></summary>
        <br>
        <p>
        En mars 1499, Léonard de Vinci est employé comme architecte et ingénieur militaire18,8 par les Vénitiens, qui cherchent à protéger leur cité. Il élabore des méthodes pour défendre la ville d'une attaque navale des Turcs avec, notamment, l'invention d'un scaphandre à casque rudimentaire. Les Turcs n'attaquant pas, l'invention ne sera jamais utilisée et, fin avril, il est de retour à Florence. Il étudie les cours d'eau du Frioul et propose un relèvement du cours de l'Isonzo par des écluses, de façon à pouvoir inonder toute une région qui couvrait les approches de Venise17.
        <br>
        <br>
        
        <figure>
            <img alt="La bataille d'Anghiari par Pierre Paul Rubens"src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Peter_Paul_Ruben%27s_copy_of_the_lost_Battle_of_Anghiari.jpg/220px-Peter_Paul_Ruben%27s_copy_of_the_lost_Battle_of_Anghiari.jpg">
            <figcaption><strong>La bataille d'Anghiari par<br> Pierre Paul Rubens est l'une<br> des seules traces de l'œuvre<br> originale de Léonard. Elle <br>reprend « La lutte pour<br> l'étendard », la partie <br>centrale de la fresque de <br>Vinci.</strong></figcaption>
        </figure>
        
        <p>En avril 1500, il revient à Venise pour deux mois, après avoir séjourné à Mantoue, en compagnie du moine mathématicien Luca Pacioli, où il fut fortement remarqué pour un portrait d’Isabelle d'Este. Une lettre du 14 avril 1501, par laquelle Fra Pietro da Nuvolaria répond à la duchesse de Mantoue, indique que « ses expériences mathématiques l’ont tellement détourné de la peinture qu’il ne peut plus supporter le pinceau. » Ainsi, Léonard de Vinci poursuivait bien des recherches plus larges. Il séjourne dans le couvent de la Santissima Annunziata en 1501 et reçoit la consécration pour l’esquisse préparatoire La Vierge, l'Enfant Jésus avec sainte Anne et saint Jean-Baptiste, une œuvre qui provoque une telle admiration que « hommes et femmes, jeunes et vieux » viennent la voir « comme s’ils participaient à un grand festival ».</p>
        <br>
        <p>Il fait un bref séjour à Rome à la villa d'Hadrien à Tivoli. Il travaille La Madone aux fuseaux pour Florimond Robertet, le secrétaire d’État de Louis XII de France.</p>
        <br>
        <p>En 1502, il est appelé par le prince César Borgia, duc de Valentinois et fils du pape Alexandre VI, avec le titre de « capitaine et ingénieur général ». Grâce au laissez-passer rédigé par César Borgia, il séjourne dans les Marches et la Romagne pour inspecter les territoires nouvellement conquis, les forteresses, les canaux, pour lever des plans ou dessiner les cartes des villes, remplissant ses carnets de ses multiples observations, cartes, croquis de travail et copies d'ouvrages consultés dans les bibliothèques des villes qu'il traverse.</P>
        <br>
        <p>Il a pu dans ces circonstances rencontrer Nicolas Machiavel, « espion » de Florence au service de Borgia, les deux hommes travaillant au projet de détournement de l’Arno.</P>
        <br>
        <p>Le 18 octobre 1503, il retourne à Florence où il remplit les fonctions d'ingénieur de guerre (il dessine notamment des arquebuses, une bombarde chargée par la culasse, des engins de siège comme la catapulte, le mortier ou la baliste). Il y est aussi architecte et ingénieur hydraulicien17. Il se réinscrit à la guilde de Saint-Luc et passe deux années à préparer et réaliser La bataille d'Anghiari (1503-1505), une fresque murale imposante de sept mètres sur dix-sept, avec Michel-Ange faisant La bataille de Cascina sur la paroi opposée. Les deux œuvres seront perduesNote 14, la peinture de Michel-Ange est connue à partir d'une copie d'Aristotole da Sangallo en 1542 et la peinture de Léonard est connue uniquement à partir de croquis préparatoires et de plusieurs copies de la section centrale, dont la plus connue est probablement celle de Pierre Paul Rubens. Un feu utilisé pour sécher plus rapidement la peinture ou la qualité du matériel semblent être à l'origine de l’altération de l'œuvre, laquelle a par la suite probablement été recouverte par une fresque de Giorgio Vasari.</p>
        <br>
        <p>Léonard est consulté à plusieurs reprises comme expert, notamment pour étudier la stabilité du campanile de San Miniato al Monte et lors du choix de l’emplacement du David de Michel-Ange où son avis s’oppose à celui de Michel-Ange. C'est à cette période qu'il présente à la cité de Florence son projet de déviation de l'Arno destiné à créer une voie navigable capable de relier Florence à la mer avec la maîtrise des terribles inondations. Cette période est importante pour la formation scientifique de Léonard qui, dans ses recherches hydrauliques, pratique l'expérience. En 1504, il revient travailler à Milan, qui est désormais sous le contrôle de Maximilien Sforza, grâce au soutien des mercenaires suisses. Beaucoup des élèves et des adeptes les plus en vue dans la peinture connaissent ou travaillent avec Léonard à Milan, y compris Bernardino Luini, Giovanni Antonio Boltraffio et Marco d'OggionoNote 15.</p>
        <br>
        <p>Son père meurt le 9 juillet 1504 et Léonard est écarté de l’héritage en raison de son illégitimité ; cependant, son oncle fera plus tard de lui son légataire universel. La même année, Léonard réalise des études anatomiques et tente de classer ses innombrables notes. Il commence à travailler La Joconde (1503-1506 puis 1510-1515) qui est habituellement considérée comme un portrait de Mona Lisa del Giocondo, née Lisa Maria Gherardini. Pourtant, de nombreuses interprétations au sujet de ce tableau sont encore discutées.</p>
        <br>
        
        <figure class="right">
            <img alt="Dessin d'un petit rhombicuboctaèdre" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Leonardo_polyhedra.png/150px-Leonardo_polyhedra.png">
            <figcaption><strong>Dessin d'un petit<br> rhombicuboctaèdre<br> par Léonard dans<br> la Divine Proportion<br> de Luca Pacioli, 1509.</strong></figcaption>
        </figure>
        
        <p>En 1505, il étudie le vol des oiseaux et rédige le codex de Turin connu également sous le nom de Codex sur le vol des oiseaux. Désormais, observations, expériences et reconstructions a posteriori se succèdent. Une année plus tard, le gouvernement de Florence lui permet de rejoindre le gouverneur français de Milan Charles d’Amboise qui le retient auprès de lui, malgré les protestations de la seigneurie. Léonard est tiraillé entre Français et Toscans ; il est pressé par le tribunal de finir La Vierge aux rochers avec son élève Giovanni Ambrogio de Predis, alors qu'il travaille sur La bataille d'Anghiari.</p>
        <br>
        <p>Le peintre devient l’unique héritier de son oncle Francesco en 1507, mais les frères de Léonard entament une procédure pour casser le testament. Léonard fait appel à Charles d’Amboise et Florimond Robertet pour qu'ils interviennent en sa faveur. Louis XII de France est à Milan, et Léonard est de nouveau l’ordonnateur des fêtes données dans la capitale lombarde.</p>
        <br>
        <p>En 1508, il vit dans la maison de Piero di Braccio Martelli avec le sculpteur Giovanni Francesco Rustici à Florence mais part habiter à Milan, à la Porta Orientale dans la paroisse de Santa Babila. Louis XII revient bientôt en Italie et entre à Milan en mai 1509. Presque aussitôt, il dirige ses armées contre Venise, et Léonard suit le roi en qualité d'ingénieur militaire ; il assiste à la bataille d'Agnadel. À la mort du gouverneur Charles d’Amboise en 1511 et après la bataille de Ravenne en 1512, la France quitte le Milanais. Cette seconde période milanaise permet à Léonard de Vinci d'approfondir ses recherches en science pure. La parution, en 1509, du De expendentis et fugiendis rebus de Giorgio Valla eut certainement une grande influence sur lui.<p>
        <br>
        <p>En septembre 1513, Léonard de Vinci part pour Rome travailler pour Julien de Médicis, frère du pape Léon X, membre de la riche et puissante famille du même nom. Au Vatican, Raphaël et Michel-Ange sont tous deux très actifs à cette époque. Devant le succès des Sangallo, Léonard ne se voit confier que de modestes missions et semble n'avoir participé ni à la construction des nombreuses forteresses romaines qui marqueront l'évolution de la poliorcétique, ni à l'embellissement de la capitale. Pire, sa peinture elle-même ne semble plus de mise et il se réfugie dans une autre spécialité, peut-être sa préférée17, l'hydraulique, avec un projet d’assèchement des marais pontins, appartenant au duc Julien de Médicis. Léonard exécute, en 1514, la série des « Déluges », qui est une réponse partielle à la version offerte par Michel-Ange dans la chapelle Sixtine.</P>
        <br>
        <p>« Les Médicis m'ont créé, les Médicis m'ont détruit », écrivit Léonard de Vinci, sans doute pour souligner les déceptions de son séjour romain. Sans doute pensait-il que jamais on ne lui laisserait donner sa mesure sur un chantier important. Sans doute connaissait-on aussi son instabilité, son découragement rapide, sa difficulté à terminer ce qu'il avait entrepris.</p>
        <br>
        </P>
    </details>
</section>

<section>
    <details>
        <summary><h3>Dernières années en France (1516-1519)</h3></summary>
        <P><br>
        <figure>
            <img alt="Le château du Clos Lucé à Amboise" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Le_Ch%C3%A2teau_du_Clos_Luc%C3%A9.jpg/290px-Le_Ch%C3%A2teau_du_Clos_Luc%C3%A9.jpg">
            <figcaption><strong>Le château du Clos Lucé à Amboise<br> est la dernière demeure de Léonard <br>de Vinci. C'est désormais un musée<br> consacré à son prestigieux occupant.</strong></figcaption>
        </figure>
        
        <p>
        En septembre 1515, le nouveau roi de France François Ier reconquiert le Milanais lors de la bataille de Marignan. En novembre 1515, Léonard se penche sur un nouveau projet d’aménagement du quartier Médicis à Florence. Le 19 décembre, il est présent à Bologne pour la réunion entre François Ier et le pape Léon X. François Ier charge Léonard de concevoir un lion mécanique pouvant marcher et dont la poitrine s'ouvre pour révéler des lys. On ne sait pas pour quelle occasion ce lion a été conçu, mais il peut avoir été lié à l'arrivée du roi à Lyon ou aux pourparlers de paix entre le roi et le pape.</p>
        <br>
        <p>Il part travailler en France en 1516 avec son assistant artiste-peintre Francesco Melzi et Salai, où son nouveau mécène et protecteur, le roi François Ier, l’installe au manoir du Cloux — actuel château du Clos Lucé —, propriété de sa mère Louise de Savoie.</p>
        <br>
        <p>Âgé de 64 ans, Léonard de Vinci arrive en France, apportant avec lui trois de ses toiles majeures : Saint Jean Baptiste, La Vierge, l'Enfant Jésus et sainte Anne et La Joconde. Selon la légende, il aurait fait ce voyage à travers les Alpes à dos de mulet, or aucun document de l'époque ne le prouve. Il aurait très bien pu arriver en bateau, puis prendre des chevaux.</p>
        <br>
        <p>Au château du Clos Lucé, Léonard se trouve ainsi à proximité du château d'Amboise, la demeure du roi. Le souverain le nomme « premier peintre, premier ingénieur et premier architecte du roi » avec une pension annuelle de mille écus. Peut-être à la cour de France s'intéressait-on plus au peintre, à l'artiste qu'à l'ingénieur et, jusque-là, seuls des Français s'étaient attaché l'illustre Florentin en qualité d'artiste : en Italie, il n'avait jamais été engagé que comme ingénieur.</p>
        <br>
        <p>En lui donnant le château du Clos Lucé, François Ier dit à Léonard : « Ici Léonard, tu seras libre de rêver, de penser et de travailler ». Il n'est pas le premier artiste à recevoir cet honneur ; Andrea Solario et Giovanni Giocondo l'avaient précédé quelques années avant.</p>
        <br>
        <p>Au Clos Lucé, Léonard travaille comme ingénieur, architecte et metteur en scène, organisant pour la Cour des réceptions et fêtes somptueuses. Il inspire autour de lui la pensée et la mode. Il travaille à de nombreux projets pour le roi.</P>
        <br>
        <p>François Ier est fasciné par Léonard de Vinci et le considère comme un père. Selon la légende, le château du Clos Lucé et le château d'Amboise étaient d'ailleurs reliés par un souterrain permettant au souverain de rendre visite à l’homme de science en toute discrétion.</P>
        <br>
        
        
        <figure class="right">
            <img alt="vestige du château de Louise de Savoie à Romorantindessiné par Léonard de Vinci." src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Romorantin_-_Sous-Pr%C3%A9fecture_3.jpg/220px-Romorantin_-_Sous-Pr%C3%A9fecture_3.jpg">
            <figcaption><strong>Tour d'angle du château de<br> Louise de Savoie à Romorantin,<br> vestige du château dessiné <br> par Léonard de Vinci.</strong></figcaption>
        </figure>
        
        
        <P>Il projette et réalise pour la reine Louise de Savoie (mère de François Ier) la construction d’une nouvelle demeure à Romorantin, sur la base d'un château médiéval pré-existant, intégrant le détournement d’un fleuve dans la Sauldre. Les travaux de dérivation, d'aménagement et de terrassement ont lieu entre 1516 et 1518. La construction est initiée, une aile de 70 mètres de long est réalisée mais les travaux restent inachevés en 1519, peut-être à cause de la peste, mais plus probablement à cause de la mort de Léonard51. L'aile construite par Louise de Savoie est détruite en 172352. Il reste aujourd'hui, outre les plans de Leonard de Vinci dans le Codex Atlanticus, des traces archéologiques nombreuses dont les ruines du château et les remblais, qui font de ce projet inachevé un prototype du château de Chambord et de son fameux escalier à vis, dont l'architecte Dominique de Cortone vient rencontrer Leonard en 1518 au Clos Lucé53.</p>
        <br>
        <p>Il esquisse un projet de canal entre la Loire et la Saône et organise des fêtes, comme celle que le roi donne au château d'Argentan en octobre 1517 en l'honneur de sa sœur Marguerite d'Angoulême17.</p>
        <br>
        <p>Une paralysie a frappé Léonard de Vinci à la fin de sa vie. Antonio de Beatis, secrétaire du cardinal Louis d'Aragon, lorsque, tous deux en 1517, visitèrent Léonard de Vinci à Amboise expliquait combien le maître était en difficulté et comment les élèves l'aidaient54.</P>
        <br>
        <p><em><blockquote>« Même si de lui, pour être venu à lui une certaine paralysie à droite, on ne peut plus attendre une bonne chose. Il a bien formé un créateur milanais qui travaille très bien. Et bien que Léonard de Vinci ne puisse pas colorier avec cette douceur habituelle, il peut aussi faire des dessins et en enseigner à d'autres55. »</blockquote></em></p>
        <br>
        <figure>
            <img alt="La tombe de Léonard au château d'Amboise." src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Tombe_de_L%C3%A9onard_de_Vinci.JPG/220px-Tombe_de_L%C3%A9onard_de_Vinci.JPG">
            <figcaption><strong>La tombe de Léonard <br>au château d'Amboise.</strong></figcaption>
        </figure>
        
        
        <p>Le 23 avril 1519, Léonard de Vinci, malade depuis de longs mois, rédige son testament devant un notaire d’Amboise. La lettre de naturalité octroyée par François Ier lui permet de contourner le droit d'aubaine. Il demande un prêtre pour recevoir sa confession et lui donner l'extrême onction. Il est emporté par la maladie le 2 mai 1519 au château du Clos Lucé, à l’âge de 67 ans.</P>
        <br>
        <p>La tradition selon laquelle il mourut dans les bras de François Ier est racontée par Giorgio Vasari dans les Vies des meilleurs peintres, sculpteurs et architectes. Elle repose peut-être sur une interprétation erronément littérale d'une épitaphe, rapportée par Vasari dans l'édition de 1550 des Vies, mais qui ne figure plus dans celle de 1568. Cette inscription — qui n'a jamais été vue sur aucun monument — contient les mots « Sinu Regio » pouvant signifier au sens propre : sur la poitrine d'un roi ; mais aussi, dans un sens métaphorique, dans l'affection d'un roi, et peuvent n'être qu'une allusion à la mort de Léonard dans un château royal. De plus à cette époque, la Cour est au château de Saint-Germain-en-Laye, où la reine accouche du futur Henri II — le 31 mars —, et les ordonnances royales données le 1er mai sont datées de cet endroit. Le journal de François Ier ne signale d'ailleurs aucun voyage du roi jusqu’au mois de juillet. Pour finir, l’élève de Léonard de Vinci, Francesco Melzi, auquel il lègue ses livres et ses pinceaux et qui est dépositaire de son testament, écrit au frère du grand peintre une lettre où il raconte la mort de son maître. Pas un mot n’y fait allusion à la circonstance mentionnée plus haut qui, si elle avait été avérée, n’aurait certainement pas été oubliée.</P>
        <br>
        <p>Selon ses dernières volontés, soixante mendiants suivent son cortège vers la collégiale Saint-Florentin du château d'Amboise, où il est enterré. Les ossements attribués à Léonard de Vinci sont supposés placés depuis 1874 sous la pierre tombale de la chapelle Saint-Hubert, dans l’enceinte du château d'Amboise et dominant la ville. Sa tombe fut refaite de 1934 à 1936 par le sculpteur Francis La Monaca.</P>
        <br>
        <p>Léonard de Vinci, toute sa vie célibataire et n’ayant jamais eu ni femme ni enfant, lègue l’ensemble de son œuvre considérable, pour la faire publier, à son disciple préféré et élève depuis ses dix ans, Francesco Melzi. Il lui offre notamment ses manuscrits, carnets, documents et instruments.</P>
        <br>
        <P>Après l’avoir accompagné en France, il reste près de Léonard de Vinci jusqu’à sa mort. Cependant, il ne publiera rien de l'œuvre de Léonard et de nombreuses peintures — dont la Joconde — qui se trouvaient encore en sa possession dans son atelier, certains tableaux ayant été déjà vendus à François Ier, d'autres donnés en héritage à Salai pendant son séjour au Clos Lucé en 1518. Les vignes de Léonard seront divisées entre Salai, un autre élève et disciple très apprécié par Léonard et entré à son service à l’âge de 15 ans, ainsi que son servant Battista de Vilanis. Le terrain sera légué aux frères de Léonard et sa servante Mathurine reçut un manteau noir à bords de fourrure.</P>
        <br>
        <p>Vingt ans après la mort de Léonard, François Ier dira au sculpteur Benvenuto Cellini :
        <em><blockquote>
        « Il n'y a jamais eu un autre homme né au monde qui en savait autant que Léonard, pas autant en peinture, sculpture et architecture, comme il était un grand philosophe65. »</em></blockquote>
        </P>
        <br>
        </p>
    </details>
</section>
<%- include('partials/footer'); -%>