<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>


<section>
    <h2>Léonard comme observateur, scientifique et inventeur</h2>
    <hr>
    <details><!-- pour le pli -->
        <summary><h3>Journaux et notes</h3></summary>
        <p><br>
        <figure><!-- pour n'importe quelle illustration -->
            <img alt="Codex du vol des oiseaux"src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Da_Vinci_codex_du_vol_des_oiseaux_Luc_Viatour.jpg/220px-Da_Vinci_codex_du_vol_des_oiseaux_Luc_Viatour.jpg">
            <figcaption><strong>Codex du vol des oiseaux,<br> rédigé en écriture spéculaire,<br> 1485-1490.</strong></figcaption>
        </figure >
        <br>
        <!-- elements paragraphes -->
        <P>L'humanisme de la Renaissance ne lie pas les sciences et les arts. Cependant, les études de Vinci en sciences et en ingénierie sont aussi impressionnantes et novatrices que son travail artistique, enregistrées dans des carnets de notes comprenant quelque treize mille pages d'écriture et de dessins, qui associent art et philosophie naturelle (la base de la science moderne). Ces notes ont été réalisées et mises à jour quotidiennement pendant toute la vie et les voyages de Léonard. Continuellement, il s'efforce de faire des observations du monde qui l'entourait23, conscient et fier d'être, comme il se définissait, un « homme sans lettres », autodidacte et lucide sur les phénomènes naturels souvent bien éloignés de ce qui était appris à l'école31.</P>
        <br>
        <figure class="right">
            <img alt="ignature Journaux et notes (Foster III)"src ="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Firma_de_Leonardo_Da_Vinci.svg/238px-Firma_de_Leonardo_Da_Vinci.svg.png">
            <figcaption><strong>Signature Journaux et notes (Foster III)</strong></figcaption>
        </figure>
        <P>Ces journaux sont, pour la plupart, rédigés en toscan dans une écriture spéculaire plus communément appelée « écriture en miroir ». La raison peut avoir été davantage un besoin pratique, pour être plus rapide, que pour des raisons de chiffrement afin d'échapper à la censure de son temps ou de garder ses notes de travail secrètes, comme cela est souvent suggéré (thèse du mathématicien Luca Pacioli dès le xve siècle, réfutée car cette écriture se lit facilement à l'aide d'un miroir, par ailleurs Léonard truffe ses notes d'abréviations et c'est plutôt cette caractéristique qui en rendent la lecture plus difficile). Comme Léonard écrivait avec sa main gauche, il devait être plus facile pour lui d'écrire de droite à gauche. En effet la main fournit moins d'effort et cette technique évite de laisser des traînées ou effacer l'encre humide en passant dessus sa main qui tient la plume d'oie. Néanmoins, il rédige occasionnellement de gauche à droite, ce qui montre qu'il maîtrise aussi cette technique90.</P>
        <br>
        <P>Ses notes et dessins, dont les plus anciens sont datés de 147528, montrent une grande variété d'intérêts et de préoccupations, mais aussi certaines listes quelconques d'épicerie ou de ses débiteurs. Il y a des compositions pour des peintures, des études de détails et de tapisseries, des études de visages et d'émotions, des animaux, des bébés, des dissections, des études botaniques et géologiques, des machines de guerre, des machines volantes et des travaux architecturaux23.</P>
        <br>
        <P>Ces carnets de notes — initialement des feuilles volantes de différentes tailles et de différents types, données par ses amis après sa mort — ont trouvé leur place dans les collections importantes comme celles exposées au château de Windsor, à la Bibliothèque de l'Institut de France91, à la Bibliothèque nationale d'Espagne, à la Bibliothèque Ambrosienne de Milan, au Victoria and Albert Museum et à la British Library de Londres. La British Library a mis une sélection à partir de ses notes (BL Arundel MS 263) sur l'Internet dans les pages de son site abordant ce chapitre92. Le Codex Leicester est le seul grand travail scientifique de Vinci qui soit entre les mains d'un propriétaire privé (Bill Gates).</P>
        <br>
        <P>Les journaux de Léonard semblent avoir été destinés à la publication, car beaucoup de feuilles ont une forme et un ordre qui en faciliteraient l'édition. Dans de nombreux cas, un seul thème, par exemple, le cœur ou le fœtus humain, est traité en détail à la fois dans les mots et les images, sur une seule feuille93. Ce mode d'organisation minimise également la perte de données dans le cas où les pages seraient mélangées ou détruites. La raison pour laquelle ces journaux n'ont pas été publiés alors que Léonard était encore en vie est inconnue23, mais certains estiment que la société n'était pas prête pour cela, notamment l'Église vis-à-vis de ses travaux anatomiques.</P>
        <br>
        <P>En 2019, une étude scientifique menés par des chercheurs du musée des Offices de Florence démontre que Léonard de Vinci est ambidextre à partir de l'analyse du dessin le Paesaggio94.</P>
        <br></P>
    </details>
</section>


<section>
    <details>
        <summary><h3>Études scientifiques</h3></summary>
        <p><br>
        <figure>
            <img alt="étude des turbulences "src ="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Etudes_turbulences_-_L%C3%A9onard_de_Vinci.jpg/220px-Etudes_turbulences_-_L%C3%A9onard_de_Vinci.jpg">
            <figcaption><strong>Vinci s'est notamment <br>passionné pour l'étude des<br>turbulences qui après lui n'a<br> pas progressé durant presque<br> quatre-cents ans, avant que<br> l'ingénieur irlandais Osborne<br>Reynolds prolonge ses travaux,<br> en 1883 95</strong></figcaption>
        </figure>
        <br><br>
        <p>Vinci s'est notamment passionné pour l'étude des turbulences qui après lui n'a pas progressé durant presque quatre-cents ans, avant que l'ingénieur irlandais Osborne Reynolds prolonge ses travaux, en 188395</p>
        <br><p>L'approche de la science par Léonard est très liée à l'observation : si « la Science est le capitaine, la pratique est le soldat »31. Sa science, ses recherches scientifiques ne portent exclusivement que sur les parties qu'il a pratiquées en technicien17. Léonard de Vinci a essayé de comprendre un phénomène en le décrivant et en l'illustrant dans les plus grands détails, en n'insistant pas trop sur les explications théoriques. Ses études sur le vol ou le mouvement de l'eau sont sans doute ce qu'il y a de plus remarquable à ce sujet. Comme il manquait d'instruction initiale en latin et en mathématiques, les chercheurs contemporains ont largement ignoré le savant Léonard, bien qu'il ait appris par lui-même le latin.</p>
        <br><br>
        <p>Dans les années 1490, il a étudié les mathématiques à la suite de Luca Pacioli et a fait une série de dessins de solides réguliers dans une forme squelettique afin de les faire graver pour son livre Divina Proportione (1509)23. Il est alors particulièrement fasciné par l'idée de l'absolu et de l'universel31. Cependant, sa culture mathématique est celle d'un praticien : elle a les objectifs limités des abacistes de son temps, il pénètre avec peine la géométrie des Grecs, sa perspective est celle de tous les théoriciens de son temps. Néanmoins, au-delà du simple aspect géométrique de la représentation de la perspective, il propose dans son Traité de la Peinture, une triple définition de la perspective :</p>
        <br><br><br><br>
        <ol>
        <li> perspective linéaire (diminution de la taille des objets proportionnellement à leur distance à l'observateur, perspective géométrique ss)96,</li>
        
        <li> perspective des couleurs (atténuation des couleurs proportionnellement à leur distance à l'observateur)97,</li>
        
        <li> perspective d’effacement (diminution de la précision des détails proportionnellement à leur distance à l'observateur)98.</li><br>
        </ol>
        
        <p>Également, Léonard a conçu un instrument à système articulé destiné à construire une solution mécanique du problème d'Alhazen, problème essentiellement technique, et qui témoigne d'une connaissance sur les lois de la réflexion17.</p>
        <br>
        <p>De même, la mécanique de Léonard est celle de ses contemporains, avec ses faiblesses, ses incertitudes, ses erreurs et il ne paraît pas qu'il ait apporté beaucoup de découvertes en la matière. Sa physique est assez confuse et vague. Il ne fut certainement jamais artilleur et n'a pas de théorie relative à la balistique. Pourtant, comme l’attestent certains de ses schémas, Léonard de Vinci eut peut-être l’intuition, comme on pouvait l’observer sur un jet d’eau, qu’il n’existait pas de partie rectiligne dans la trajectoire d’un projectile d’artillerie contrairement à ce qui était couramment admis à l’époque. Mais il s’arrêta très vite sur une voie que Tartaglia puis Benedetti allaient suivre et qui mena à Galilée17.</p>
        <br>
        <p>Si Alberti ou Francesco di Giorgio Martini se préoccupèrent de la solidité des poutres, jamais ils n’avaient cherché de formulations mathématiques. Léonard de Vinci s’intéresse au problème de la flexion, sans doute à l’aide d’expériences, et parvient à définir des lois, encore imparfaitesNote 21, de la ligne élastique pour des poutres de différentes sections, libres ou encastrées dont le problème de Galilée (problème du balcon). Ce faisant, il élimine le module d’élasticité et le moment auquel avait pourtant fait allusion Jordanus Nemorarius17.</p>
        <br>
        <p>Sa chimie se borne à la mise au point d'un alambic et aux quelques recherches d'alchimie qu'il pratiqua à Rome17.</p>
        <br>
        <p>Paul Valéry met en avant la manière dont Léonard de Vinci a découvert intuitivement, par l'observation, « le premier germe de la théorie des ondulations lumineuses », sans cependant pouvoir la valider de manière expérimentale : « L'air est rempli d'infinies lignes droites et rayonnantes, entrecroisées et tissées sans que l'une n'emprunte jamais le parcours d'une autre, et elles représentent pour chaque objet la vraie forme de leur raison (de leur explication)99. »</p>
        <br>
        <p>Léonard de Vinci étudia aussi beaucoup la lumière et l'optique43 ; en hydrologie, la seule véritable loi qu'il ait formulée est celle du débit des cours d'eau.</p>
        <br>
        <p>Il semble que, à partir du contenu de ses carnets, il ait envisagé de publier une série de traités sur une grande variété de sujets. À plusieurs reprises il mentionne un projet de traité de l'eau, mais qui paraît avoir été si considérable dans sa pensée qu'il semblait irréalisable17. Un traité d'anatomie aurait été observé au cours d'une visite par le secrétaire du cardinal Louis d'Aragon en 1517100.</p>
        
        <p>Son élève Francesco Melzi, chercha à reconstituer le Traité de la peinture que Léonard de Vinci avait projeté toute sa vie d'écrire. Il compila pour cela les aspects de son travail sur l'anatomie, la lumière et les ombres, les drapés, les paysages. Une édition partielle et incomplète du travail de Francesco Melzi parut en 1651, en italien, puis en français. Charles Le Brun présenta l’édition française du Traité de la peinture aux membres de l'Académie royale de peinture et de sculpture comme le livre qui devait leur servir désormais de référence (malgré les critiques d‘Abraham Bosse et le scepticisme de Félibien101). C’est ainsi que Léonard de Vinci fut transformé « en précurseur de la pensée académique », selon la formule de Daniel Arasse23.</p>
        <br></P>
    </details>
</section>


<section>
    <details>
        <summary><h3>Médecine et anatomie</h3></summary>
        <p><br>
        <figure class="right"><!-- classe right pour faire floter les image vers la droite -->
            <img alt="Étude de Léonard de Vinci sur l'embryon humain, 1510-1513."src ="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Da_Vinci_Studies_of_Embryos_Luc_Viatour.jpg/180px-Da_Vinci_Studies_of_Embryos_Luc_Viatour.jpg">
            <figcaption><strong>Étude de Léonard de<br>Vinci sur l'embryon <br>humain, 1510-1513.</strong></figcaption>
        </figure>
        <p>La formation initiale de Léonard à l'anatomie du corps humain a commencé lors de son apprentissage avec Andrea del Verrocchio, son maître insistant sur le fait que tous ses élèves apprennent l'anatomie. Comme artiste, il est rapidement devenu maître de l'anatomie topographique, en s'inspirant de nombreuses études des muscles, des tendons et d'autres caractéristiques anatomiques visibles. Il pose les bases de l'anatomie scientifique, disséquant notamment des cadavres de criminels dans la plus stricte discrétion, pour éviter l’Inquisition. Les conditions de travail sont particulièrement pénibles à cause des problèmes d'hygiène et de conservation des corps.</p>
        <br>
        <p>Comme artiste connu, il a reçu l'autorisation de disséquer des cadavres humains à l'hôpital de Santa Maria Nuova à Florence et, plus tard, dans les hôpitaux de Milan et de Rome (de 1513 et 1516, il y dirige plusieurs autopsies dans l'hôpital romain Santo Spirito in Sassia). Il réalise ainsi une vingtaine de dissections à partir de 1487 pour composer un traité d'anatomie102 qui ne verra jamais le jour103. De 1510 à 1511, il a collaboré dans ses recherches avec le médecin Marcantonio della Torre.</p>
        <br>
        <p>Léonard a dessiné de nombreux squelettes humains, des os, ainsi que les muscles et les tendons, le cœur et le système vasculaire, l’action de l’œil, les organes sexuels et d'autres organes internes. Ces observations contiennent parfois des inexactitudes dues aux méconnaissances de l'époque13. Il n'a par exemple jamais entrevu la circulation du sang17. Il a par contre identifié quatre cavités cardiaques dans le cœur (Vésale et Descartes n'y en verront que deux), fait l'un des premiers dessins scientifiques d'un fœtus dans l'utérus88 et la première constatation scientifique de la rigidité des artères à la suite d'une crise cardiaque. Comme artiste, Léonard observa de près les effets de l'âge et de l'émotion humaine sur la physiologie, en étudiant en particulier les effets de la rage. Il a également dessiné de nombreux modèles, dont certains avec d'importantes déformations faciales ou des signes visibles de maladie23,88.</p>
        <br>
        <p>Il a aussi étudié et dessiné l'anatomie de nombreux animaux. Il a disséqué des vaches, des oiseaux, des singes, des ours et des grenouilles, comparant la structure anatomique de ces animaux avec celle de l'homme. Il étudia également les chevaux.</p>
        <br></p>
    </details>
</section>

<section>
    <details>
        <summary><h3>Ingénierie et invention</H3></summary>
        <p><br>
        <figure class="right">
            <img alt="La vis aérienne (en haut)"src ="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Leonardo_da_Vinci_helicopter_and_lifting_wing.jpg/220px-Leonardo_da_Vinci_helicopter_and_lifting_wing.jpg">
        <figcaption><strong>La vis aérienne (en haut),<br> 1486, considérée comme la<br>base de l'hélicoptère, et <br>expérience sur la force de<br>levage d'une aile (en bas). </strong></figcaption>
        </figure>
        <p><em><blockquote>« Combien de biographies n'a-t-on pas écrites, qui ne mentionnent cette activité scientifique ou technique que pour montrer l'étendue d'un savoir qu'on veut universel […] Tout ceci n'a pu se faire que péniblement, par une recherche constante de ce qu'avaient écrit les anciens ou les prédécesseurs immédiats […] Et faute de connaître tout ce passé qui l'avait fait, on a présenté Léonard comme un inventeur fécond »
        <br></em>
        — Bertrand Gille, dans Les ingénieurs de la Renaissance17</blockquote></p><br>
        <p>Léonard de Vinci s’inscrit dans le courant technicien de la Renaissance et, comme tel, il eut des prédécesseurs immédiats ou plus lointains parmi lesquels on peut citer Konrad Kyeser, Taccola, Roberto Valturio, Filippo Brunelleschi, Jacomo Fontana ou encore Leon Battista Alberti à qui il doit sans doute beaucoup17.</p>
        <br>
        <p>Certains furent des personnalités plus puissantes, des esprits plus complets, des curiosités plus larges encore. C’est le cas de Francesco di Giorgio Martini qui fut son supérieur lors de la construction du dôme de Milan et à qui il emprunta certainement beaucoup17. Étant sans doute moins occupé par ses réalisations que ce dernier du fait d’un carnet de commandes moins rempli, Léonard de Vinci sera à la fois plus prolifique, mais surtout capable d’un changement de méthode.</p>
        <br>
        <p>La légende fait de Léonard le précurseur de plusieurs machines modernes mais nombre d'entre elles ont été inventées par des prédécesseurs (tels le bateau à roues à aubes existant sous la dynastie des Song du Sud au ve siècle, l'hélicoptère, le véhicule à chenilles, la machine à tisser des scies hydrauliques, le sous-marin ou le char d'assaut blindé que Léonard perfectionne après avoir puisé ses idées notamment dans les carnets de Taccola et de son maître Giorgio, eux-mêmes copiant des manuscrits de penseurs contemporains ou médiévaux104) et, au-delà de l'étonnement éprouvé face à l’imagination prospective de l’auteur, on peut vite constater que le fonctionnement réel de la machine n’a pas dû être son souci premier. Comme le moine Eilmer de Malmesbury au xie siècle qui avait oublié la queue dans sa machine volante, les inventions de Léonard butent sur de nombreuses difficultés : l’hélicoptère s’envolerait comme une toupie, le scaphandrier s’asphyxierait, le bateau à aubes n’avancerait pas, le parachute en pyramide s'enroulerait sur lui-même, etc.105. De plus, dans ces épures, Léonard ne pose jamais le problème de la force motrice106.</p>
        <br>
        <p>Dans une lettre d'emploi adressée à Ludovic SforzaNote 22, qui est une véritable lettre de candidature en dix points, il lui présente son profil professionnel, le meilleur du marché, avec des compétences et des secrets qui peuvent réellement faire la différence avec tous ceux qui se disent experts en matière de guerre. Il énumère : ponts, échafaudages et escaliers, outils pour détruire murs et forteresses, machines de siège, bombardiers et mortiers, passages secrets, chars, armes pour les batailles navales, navires pouvant résister aux bombes, c'est-à-dire toutes sortes de matériels pouvant servir, à la fois pour la protection de la ville et pour un siège107.</p>
        <br>
        <p>Quand il a fui à Venise en 1499, il a trouvé un emploi d'ingénieur et a développé un système de barrières mobiles pour protéger la ville contre les attaques terrestres. Il a également eu pour projet de détourner la circulation de l'Arno afin d'irriguer les champs toscans, de faciliter le transport et même de gêner l'approvisionnement maritime de Pise, la rivale de Florence35.</p>
        <br>
        <figure>
            <img alt="Machine à polir les miroirs"src ="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Leonardo_machine_for_grinding_convex_lenses.JPG/150px-Leonardo_machine_for_grinding_convex_lenses.JPG">
            <figcaption><strong>Machine à polir <br>les miroirs</strong></figcaption>
        </figure>
        <p>Ses carnets présentent un grand nombre d'« inventions » (inventions propres ou perfectionnement de machines et d'instruments) à la fois pratiques et réalistes108, notamment des pompes hydrauliques, des mécanismes à manivelle comme la machine à tailler les vis de bois, des ailettes pour les obus de mortier, un canon à vapeur18,23, le sous-marin, plusieurs automates, le char de combat, l'automobile, des flotteurs pour « marcher sur l'eau », la concentration d'énergie solaire, la calculatrice, le scaphandre à casque, la double coque ou encore le roulement à billes. La paternité de la bicyclette est, quant à elle, très controverséeNote 23.</p>
        <br>
        <p>Un examen attentif de ces épures indique cependant que nombre de ces techniques furent, soit empruntées à quelques prédécesseurs immédiats (la turbine hydraulique à Francesco di Giorgio Martini, la chaîne articulée pour la transmission des mouvements à Taccola, etc.), soit l'héritage d'une tradition encore plus ancienne (le martinet hydraulique est connu au xiiie siècle, les siphons et aqueducs sont visibles chez Frontin, les automates de divertissement décrits par les mécaniciens grecs…)17. Pourtant Léonard fut aussi novateur ; il est sans doute l'un des premiers dans le cercle des ingénieurs de l'époque à s'intéresser au travail mécanique du métal et en particulier de l'or, plus malléable. Avec la machine volante, les quelques machines textiles, pour lesquelles la régularité des mouvements mis en œuvre lui permet d'appliquer son sens de l'observation, signent son originalité. Le métier mécanique, la machine à carder et celle à tondre les draps font sans doute de Léonard, le premier qui chercha à mécaniser une fabrication industrielle. La machine à polir les miroirs qui supposait la résolution d'un certain nombre de problèmes pour obtenir des surfaces régulières, planes ou concaves, a été imaginée pendant son séjour romain alors qu'il étudiait la fabrication des images. Paradoxalement, Léonard de Vinci s'intéressa peu à des inventions que nous jugeons aujourd'hui très importantes, telles que l'imprimerie, même s'il est un des premiers à nous donner une représentation d'une presse d'imprimerie17.</p>
        <br>
        <figure class="right"> 
            <img alt="Léonard de Vinci au musée Grevin" src ="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/L%C3%A9onard_de_Vinci_au_mus%C3%A9e_Grevin.jpg/220px-L%C3%A9onard_de_Vinci_au_mus%C3%A9e_Grevin.jpg">
            <figcaption><strong>Léonard de Vinci au<br> musée Grevin</strong></figcaption>
        </figure>
        <p>Si la guerre peut répondre à une nécessité, elle est pazzia bestialissima (« folie sauvage »)31. Il étudie donc les armes tout en gardant du recul quant à leur utilisation.</P>
        <br>
        <p>En 1502, Léonard a dessiné un pont de deux cent quarante mètres dans le cadre d'un projet de génie civil pour le sultan ottoman Bayezid II d'Istanbul. Ce pont était destiné à franchir l'embouchure du Bosphore, connue sous le nom de la « Corne d'Or ». Beyazid ne poursuit pas le projet, car il estime que cette construction serait impossible. La vision de Léonard a été ressuscitée en 2001 quand un petit pont conçu selon ses idées a été construit en Norvège. Le 17 mai 2006, le gouvernement turc a décidé de construire le pont de Léonard pour la Corne d'Or109.</p>
        <br>
        <p>Pendant la majeure partie de sa vie, Léonard a été, comme Icare, fasciné par le vol. Il a produit de nombreuses études sur ce phénomène en s'inspirant des oiseaux et des plans de vol de plusieurs appareils, dont les prémices d'hélicoptère nommées la « vis aérienne », le parachute et une sorte de deltaplane23 en bambou. Sur ce nombre, la plupart étaient irréalisables, mais le deltaplane a été construit et, avec l'ajout un empennage pour la stabilité, a volé avec succès. Néanmoins, il semble probable qu'il estimait que les systèmes proches des chauves-souris avaient le plus gros potentiel31. Il inventa également la soufflerie aérodynamique pour ses travaux.</p>
        <br>
        <figure>
            <img alt="Plans pour une machine volante" src ="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Design_for_a_Flying_Machine.jpg/150px-Design_for_a_Flying_Machine.jpg">
            <figcaption><strong>Plans pour une<br> machine volante,<br>1488, Institut de<br>France, Paris.</strong></figcaption>
        </figure>
        <p>Le musée du clos Lucé à Amboise, le musée Il Castello situé au château de comtes Guidi de Vinci et le Musée des Sciences et des Techniques Léonard de Vinci de Milan contiennent de nombreuses maquettes, des objets grandeur nature établis sur l’étude de ses carnets et des explications sur son travail.</p>
        <br>
        <p>De Vinci a également étudié l'architecture. Il est influencé par les travaux de Filippo Brunelleschi et a projeté de surélever le baptistère Saint-Jean de Florence28 ou de créer une tour-lanterne pour la cathédrale de Milan31. Il utilise souvent la forme octogonale pour les bâtiments religieux et le cercle pour les militaires35. À la suite de la peste qui frappe Milan vers 1484 et 1485, il conçoit une ville parfaite théorique avec des axes de circulation optimaux et des conditions de vie de qualité, sa vision n'est pas marquée par des distinctions sociales, mais fonctionnelles, tels des organes dans un corps humain31. Il travaille également sur les jardins43. Néanmoins, beaucoup de ses travaux sur l'architecture seront perdus.</p>
        <br></p>
    </details>
</section>
<%- include('partials/footer'); -%>