<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>


<section>
    <h2>Œuvres notables</h2>
    <hr>
    <p>Ce classement est fait selon les tendances générales des experts. La difficulté étant que les travaux « d'atelier » ne sont signés que par le propriétaire de cet atelier et qu'il manque d'œuvres de références pour Vinci, notamment dans la sculpture.</P>
    <details><!-- pour le pli -->
        <summary><h3>Signées par Léonard de Vinci ou attribuées</h3></summary><br>
        <p>
        <!-- liste non ordonnée -->
        <ul>    
            <li>La Vierge, l'Enfant Jésus et sainte Anne, (1502-1513), Musée du Louvre, Paris.</li>
            
            <li>La Dame à l'hermine, vers 1485, serait le portrait de Cecilia Gallerani, une des maîtresses de Ludovic Sforza. Musée Czartoryski, Cracovie.</li>
            
            <li>Étude sur les mouvements fait par le biceps, vers 1510.</li>
            <li>Article connexe : Liste des peintures de Léonard de Vinci.</li>
            <li>L'Annonciation (entre 1472 et 1475), Galerie des Offices, Florence ;</li>
            <li>Paysage de la vallée de l'Arno (1473), Galerie des Offices, Florence ;</li>
            <li>Ginevra de' Benci (vers 1476), National Gallery of Art, Washington, D.C. ;</li>
            <li>La Madone à l'œillet (entre 1478 et 1480), Alte Pinakothek, Munich ;</li>
            <li>Madonna Benois (entre 1478 et 1482), Musée de l'Ermitage, Saint-Pétersbourg ;</li>
            <li>Saint Jérôme (vers 1480), inachevé, Pinacothèque du Vatican, Rome ;</li>
            <li>L'Adoration des mages (1481), huile sur bois inachevée, Galerie des Offices, Florence ;</li>
            <li>La Vierge aux rochers (entre 1483 et 1484), première version, huile sur bois, Musée du Louvre, Paris ;</li>
            <li>La Dame à l'hermine (vers 1485), portrait de Cecilia Gallerani (maîtresse de Ludovic Sforza), Musée Czartoryski, Cracovie ;</li>
            <li>Portrait de musicien (1490), portrait de Franchini Gaffurio et seul portrait masculin fait par Léonard, pinacothèque Ambrosienne, Milan ;</li>
            <li>La Belle Ferronnière (entre 1490 et 1496), Musée du Louvre, Paris ;</li>
            <li>La Cène (entre 1495 et 1498), fresque, église Santa Maria delle Grazie, Milan ;</li>
            <li>La Vierge, l'Enfant Jésus avec sainte Anne et saint Jean Baptiste (entre 1495 et 1499 puis entre 1506 et 1508), un carton supposé d'une autre œuvre, National Gallery, Londres ;</li>
            <li>La Madone aux fuseaux (vers 1501). Léonard de Vinci et son atelier auraient peint deux versions. L'une dite Madone Lansdowne est conservée dans une collection privée ; l'autre, appartenant au duc de Buccleuch, est conservée au château de Drumlanrig, en Écosse ;</li>
            <li>La Vierge aux rochers (entre 1505 et 1508 selon les estimations), seconde version où Léonard ajoute les auréoles et le bâton à Jean Baptiste, huile sur bois, National Gallery, Londres ;</li>
            <li>La Vierge, l'Enfant Jésus et sainte Anne (1502-1513), huile sur bois, Musée du Louvre, Paris.</li>
            <li>La Joconde ou Mona Lisa (entre 1503 et 1504 puis entre 1510 et 1515), portrait à l'huile sur bois, Musée du Louvre, Paris ;</li>
            <li>La bataille d'Anghiari (1504-1506), peinture murale inachevée pour la salle du Grand conseil du Palazzo Vecchio de Florence, détruite dès le xvie siècle, notamment reprise par Pierre Paul Rubens ;</li>
            <li>Léda et le Cygne (vers 1508), plusieurs versions et original perdu, une d'entre elles est notamment visible à la Galerie des Offices, Florence ;</li>
            <li>Bacchus (1510-1515), à l'origine huile sur bois, Musée du Louvre, Paris ;</li>
            <li>Saint Jean Baptiste (entre 1513 et 1516), Musée du Louvre, Paris.</li>
        </ul>
        </p>
    </details>
</section>

<section>
    <details>
        <summary><h3>Non signées par Vinci mais avec sa participation</h3></summary><br>
        <p>
        <UL>
            <li>Le Baptême du Christ d'Andrea del Verrocchio, (entre 1472 et 1475), huile sur bois, Galerie des Offices, Florence ;</li>
            <li>L'Enfant au dauphin d'Andrea del Verrochio, (vers 1475 et 1481), Palazio Veccho, Florence ;</li>
            <li>Christ enfant d'Andrea del Verrochio, (vers 1477) ;</li>
            <li>Cheval de Léonard, sculpture inachevée.</li>
        </ul>
        </p>
    </details>
</section>


<section>
    <details>
        <summary><h3>Paternité plus discutée :</h3></summary><br>
        <p>
        <ul>
        <li>La Madone Litta (vers 1490 ou 1491), pourrait être de Marco d'Oggiono, Musée de l'Ermitage, Saint-Pétersbourg ;</li>
        <li>La Madone Dreyfus, aussi attribué à Andrea del Verrocchio ou Lorenzo di Credi.</li>
        <li>The Holy Infants Embracing (en), (entre 1486 et 1490), plusieurs versions existent, collections privées ;</li>
        <li>La Madone avec L'Enfant Jésus et Saint Joseph, anciennement attribué à Fra Bartolomeo, Galerie Borghèse, Rome ;</li>
        <li>Marie-Madeleine, généralement attribué à Giampietrino ;</li>
        <li>La Madone de Laroque, collection privée ;</li>
        <li>La Cène du Luxembourg, collection privée ;</li>
        <li>Autoportrait présumé d'Acerenza, collection privée ;</li>
        <li>Le Christ portant sa Croix, collection privée ;</li>
        <li>La Belle Princesse, collection privée139 ;</li>
        <li>Salvator Mundi, collections de l'État saoudien140 ;</li>
        <li>Mona Lisa d'Isleworth, collection privée.</li>
        </ul>
        </p>
    </details>
</section>

<%- include('partials/footer'); -%>