<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>


<section>
    <h2>Peintures</h2>
    <hr>    
    <figure>
        <img alt="La Vierge aux rochers," src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Leonardo_da_Vinci_Virgin_of_the_Rocks_%28National_Gallery_London%29.jpg/180px-Leonardo_da_Vinci_Virgin_of_the_Rocks_%28National_Gallery_London%29.jpg">
        <figcaption><strong>La Vierge aux rochers,<br> 1483-1486 et 1495-<br>1508 (deux versions),<br> marque une iconographie<br> nouvelle qui sera <br>largement reprise.<br>Ci-dessus, la National<br> Gallery de Londres.</strong></figcaption>
    </figure>
    
    <p>Malgré la relativement récente prise de conscience et l'admiration vouée à Léonard comme scientifique et inventeur, son immense renommée de la plus grande partie de ces quatre cents dernières années a reposé sur ses réalisations en tant que peintre et sur une poignée d'œuvres — authentifiées ou lui étant attribuées — qui ont été considérées comme faisant partie des plus beaux chefs-d'œuvre jamais créés.</p>
    <br>
    <p>Ces peintures sont célèbres pour de nombreuses raisons et qualités qui ont été beaucoup imitées par les étudiants et discutées très longuement par les connaisseurs et les critiques. Parmi les qualités qui font des travaux de Léonard, des pièces uniques sont souvent citées, les techniques novatrices qu'il a utilisées dans l'application de la peinture, sa connaissance approfondie de l'anatomie humaine et animale, de la botanique et la géologie, mais aussi son utilisation de la lumière, son intérêt pour la physiognomonie et la façon dont les humains utilisent le registre des émotions et les expressions gestuelles, son sens de la composition et celui, subtil, des dégradés de couleurs. Il maîtrisait notamment la technique du « sfumato » et le rendu des ombres et des lumières. Toutes ces qualités sont réunies dans ses tableaux les plus connus, La Joconde, La Cène et La Vierge aux rochers.</p>
    <br>
    <p>Léonard a réalisé de très nombreux portraits de femmes, mais un seul portrait d’homme — celui d’un musicien — a été retrouvé à ce jour. On lui prête souvent la phrase suivante : « Le personnage le plus digne d’éloges est celui qui, par son mouvement, traduit le mieux les passions de l’âme », qui explique bien sa pensée de peintre. Cependant, il a aussi dessiné des croquis caricaturaux de ses contemporains dans la mode du grotesque.</P>
    <br>
    <P>Léonard est célèbre pour ses dessins et ses peintures dans lesquels il introduit une conception innovante de la perspective. Vinci estimait que les arts picturaux forment une science. Mais l'utilisation, souvent supposée, du nombre d’or dans son œuvre n'est pas avérée. Son travail sur les proportions, à l'image de l’Homme de Vitruve, se limite à l'usage de fractions d'entiers.</P>
    <br>

    <details>
        <summary><h3>Premiers travaux</h3></summary>
        <p>
        <br>
        <figure class="right">
            <img alt="L'Annonciation, 1475-1480, huile sur toile"src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Leonardo_da_Vinci_Annunciation.jpg/290px-Leonardo_da_Vinci_Annunciation.jpg">
            <figcaption><strong>L'Annonciation, 1475-1480, huile sur<bR> toile, Galerie des Offices de Florence.<bR> Elle contient certaines discontinuités <br>de style.</strong></figcaption>
        </figure>
        <P>Les premiers travaux de Léonard de Vinci commencent avec Le Baptême du Christ peint avec Andrea del Verrocchio, à qui il est attribué, et ses autres élèves. Deux autres peintures semblent dater de cette période à l'atelier et qui sont toutes les deux des « Annonciations » ; l'une est petite, large de cinquante-neuf centimètres pour seulement quatorze de haut. Il s'agit d'une prédelle se plaçant à la base d'une composition plus large, et, dans ce cas, pour un tableau de Lorenzo di Credi duquel il fut séparé. L'autre est un travail beaucoup plus important, de deux cent dix-sept centimètres de large.</p>
        <br>
        <P>Dans ces deux annonciations, Léonard a dépeint la Vierge Marie, assise ou agenouillée à la droite de l'image, et un ange de profil s'approchant d'elle par la gauche. Un gros travail est fait sur les mouvements des vêtements et les ailes de l'ange. Bien que précédemment attribuée à Domenico Ghirlandaio, l'œuvre est désormais presque universellement attribuée à de Vinci.</p>
        <br>
        <p>Dans le tableau le plus petit, Marie détourne ses yeux et plie ses mains dans un geste qui symbolise la soumission à la volonté de Dieu. Dans le tableau le plus grand cependant, Marie ne semble pas aussi docile ; la jeune femme, interrompue dans sa lecture par ce messager inattendu qu'est l'ange, place son doigt dans le livre saint pour repérer la page de sa lecture interrompue et lève la main dans un geste de salutation ou de surprise. Son calme semble montrer qu'elle accepte son rôle de mère de Dieu, non pas avec résignation, mais avec confiance. Dans ce tableau, le jeune Léonard présente le visage humaniste de la Vierge Marie, reconnaissant le rôle de l'humanité dans l'incarnation de Dieu. Ce dernier tableau a visiblement été travaillé par plusieurs personnes, puisque certaines discontinuités de style sont perceptibles, comme une « erreur » de perspective sur le bras droit de Marie, le pré fleuri comme une broderie ou bien les ailes de rapace de l'ange. Le style du lutrin du tableau pourrait être un clin d'œil au style du tombeau de Pierre de Médicis réalisé par Verrochio en 1472.</P>
        <br>
        </P>
    </details>
</section>


<section>
    <details>
        <summary><h3>Peintures des années 1480</h3></summary>
        <p><br>
        <figure >
            <img alt="Saint Jérôme,"src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Leonardo_da_Vinci_-_Saint_Jerome.jpg/220px-Leonardo_da_Vinci_-_Saint_Jerome.jpg">
            <figcaption><strong>Saint Jérôme, vers 1482,<br>Pinacothèque vaticane, Vatican.<br> La composition inachevée de la<br> peinture est probablement due à<br> un découpage de certaines parties.</strong></figcaption>
        <br>
        </figure>
        <p>Dans les années 1480, Vinci reçoit deux très importantes commandes et commence à travailler à une autre œuvre qui est également d'une grande importance en termes de composition. Malheureusement, deux des trois œuvres n'ont jamais été terminées et la troisième a été si longue à créer qu'elle fut soumise à de longues négociations sur son achèvement et son paiement. L'un de ces tableaux est Saint Jérôme. Liana Bortolon, dans son livre The Life and Times of Leonardo (1967), associe ce tableau à une période difficile de la vie de Léonard. Les signes de la mélancolie peuvent se lire dans son journal : « Je pensais que j'apprenais à vivre ; j'apprenais seulement à mourir. »</p>
        <br>
        <p>La composition du tableau est très inhabituelle, même s'il est vrai que certaines parties de celui-ci furent découpées. Le tableau dépeint la pénitence de Jérôme de Stridon dans le désert. Pénitent, Jérôme occupe le milieu de l'image, le corps légèrement en diagonale. Sa posture agenouillée prend une forme trapézoïdale, avec un bras tendu vers le bord extérieur de la peinture et son regard allant dans la direction opposée. Jack Wasserman souligne le lien entre cette peinture et les études anatomiques de Léonard. Au premier plan de l'ensemble s'étend son symbole, un grand lion, dont le corps et la queue effectuent une double courbe à travers la base de l'image. L'autre caractéristique intéressante est l'aspect superficiel du paysage de pierres rocailleuses où se trouve le personnage.</P>
        <br>
        <P>L'affichage audacieux et novateur de la composition, avec les éléments du paysage et le drame personnel, apparaît également dans le grand chef-d'œuvre inachevé qu'est L'Adoration des mages, une commande des moines de San Donato à Scopeto. C'est un tableau à la composition très complexe, et Léonard a fait de nombreux dessins et études préparatoires, y compris une très détaillée pour la perspective linéaire d'une ruine d'architecture classique qui sert de toile de fond à la scène. Mais, en 1482, Léonard part à Milan, à la demande de Laurent de Médicis, afin de gagner les bonnes grâces de Ludovic Sforza. Il abandonne donc son tableau.</P>
        <br>
        <P>Le troisième travail important de cette période est La Vierge aux rochers qui a été commandée à Milan pour la confrérie de l'Immaculée Conception. La peinture, faite avec l'assistance des frères, devait combler un grand retable, déjà construit. Léonard a choisi de peindre un passage de l'enfance du Christ tiré des évangiles apocryphes, lorsque le petit Jean le Baptiste, sous la protection d'un ange, a rencontré la sainte Famille sur la route de l'Égypte. Dans cette scène, telle qu'elle a été peinte par Léonard de Vinci, Jean reconnaît et vénère Jésus comme le Christ. Le tableau montre des personnages gracieux s'agenouillant en adoration devant le Christ dans un environnement sauvage et un paysage rocheux. Le tableau est quasiment aussi complexe que la peinture commandée par les moines de San Donato, même s'il a seulement quatre personnages — et non cinquante — et s'il dépeint un paysage plutôt qu'un fond architectural. Le tableau a été achevé, mais deux versions de la peinture ont en fait été réalisées : celle qui est restée à la chapelle de la confrérie et l'autre qu'a emportée Léonard en France. Mais les frères n'ont pas eu leur peinture avant le siècle suivant. Une seconde version de ce tableau, avec l'ajout des auréoles et du bâton de Jean le Baptiste sera faite quelques années plus tard.</P>
        </P>
    </details>
</section>


<section>
    <details>
        <summary><h3>Peintures des années 1490</h3></summary>
        <p><br>
        <figure class="right"><!-- class right pour faire floter les images vers le cote droit de la page -->
            <img alt="La Cène" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Leonardo_da_Vinci_%281452-1519%29_-_The_Last_Supper_%281495-1498%29.jpg/330px-Leonardo_da_Vinci_%281452-1519%29_-_The_Last_Supper_%281495-1498%29.jpg">
            <!-- l'element alt decrit le contenu de l'image en cas d'echec de connection -->
            <figcaption><strong>LaCène, 1495-1498, une peinture qui a<br> nécessité d'importants efforts de restauration. </strong></figcaption>
        </figure>
        <P>La plus célèbre peinture de Léonard pour la période des années 1490 est La Cène. Elle est peinte directement sur un mur du couvent Santa Maria delle Grazie à Milan. La peinture représente le dernier repas partagé par Jésus et ses disciples avant sa capture et sa mort. Il montre précisément le moment où Jésus déclare : « l'un de vous va me trahir ». Léonard dépeint la consternation que cette déclaration a causée à l'ensemble des douze disciples de Jésus.</p>
        <br>
        <p>Matteo Bandello a observé Léonard au travail et il écrit, dans une de ses nouvelles que, certains jours, il peint de l'aube au crépuscule sans même s'arrêter pour manger, et puis ne peint plus les trois ou quatre jours suivants. Selon Vasari, cela provoque l'incompréhension du père supérieur, le prieur, qui chasse le peintre jusqu'à ce que Léonard demande au duc de Milan, Ludovic Sforza, d'intervenir. Vasari décrit également comment Vinci doute de sa capacité à peindre proprement les visages de Jésus et de Judas, affirmant au duc qu'il a peut-être utilisé le moine pour modèle.</p>
        <br>
        <P>La fresque, achevée, est saluée comme un chef-d'œuvre de conception et de caractérisation, obtenant même plus tard l'admiration de Pierre Paul Rubens et de Rembrandt. L'œuvre a été restaurée sans cesse, la peinture se détachant du support en plâtre. La peinture s'est détériorée rapidement, de telle sorte qu'avant même le centième anniversaire de sa création, elle a été décrite par un témoin comme « totalement dévastée ». Léonard, au lieu d'utiliser la technique éprouvée de la fresque, a utilisé la « technique de la tempera », un procédé de peinture utilisant le jaune d'œuf comme médium pour lier les pigments, alors que le support est principalement « gesso », un type de craie fait de carbonate de calcium minéral, ce qui a produit une surface sujette à la moisissure et à l'écaillage.</P>
        <br>
        <p>Malgré ces déboires, la Cène est restée l'une des œuvres d'art les plus reproduites. Heureusement, une toile d'époque de grandes dimensions est exposée en l'abbaye de Tongerlo à Westerlo. Elle est une des copies les plus fidèles et les plus anciennes du chef-d'œuvre du maître italien : œuvre des élèves de Léonard, il semblerait qu'il aurait peint lui-même la tête de Jésus et celle de l'apôtre Jean. Les restaurateurs viennent chercher à Westerlo les couleurs exactes pour leurs travaux avant d'aller à Milan.</P>
        <br>
        </p>
    </details>
</section>


<section>
    <details>
        <summary><h3>Peintures des années 1500</h3></summary>
        <p><br>
        <figure>
            <img alt="La Joconde"src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/220px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg">
            <figcaption><strong>La Joconde, peinte entre<br> 1503 et 1506, est l'un des <br>tableaux les plus mondialement<br> connus.</strong></figcaption>
        </figure>
        <p>Parmi les œuvres créées par Léonard dans les années 1500, se trouve un petit portrait connu sous le nom de La Joconde (1503-1506) ou, notamment pour les anglophones, sous le nom de « Mona Lisa ». Le tableau est connu, en particulier, pour l'insaisissable sourire sur le visage de la femme, dont les experts s'accordent à dire qu'il s'agit de Lisa Gherardini. La qualité de la peinture est peut-être liée au fait que l'artiste a subtilement ombré les coins de la bouche et les yeux, afin que la nature exacte du sourire ne puisse être déterminée. La qualité des ombres, pour lesquelles le travail est réputé, a été appelée « sfumato » ou « la fumée de Léonard ». Giorgio Vasari a écrit que « le sourire est si agréable qu'il semble divin plutôt qu'humain ; ceux qui l'ont vu ont été très surpris de constater qu'il semble aussi vivant que l'original ». Néanmoins, et pendant longtemps, les experts ont généralement admis que Vasari a pu n'avoir jamais connu la peinture autrement que par sa renommée, car il l'a décrite comme ayant des sourcils. Une analyse spectroscopique à haute résolution a permis de confirmer l'hypothèse de Daniel Arasse qui, dans son livre Leonardo da Vinci (1997), discutait de la possibilité que Léonard ait pu avoir peint le visage avec des sourcils, mais qu'ils ont ensuite été enlevés, notamment parce qu'ils n'étaient pas en vogue au milieu du xvie siècle. Effectivement, La Joconde aurait eu des sourcils et des cils qui ont, par la suite, été enlevés.</P>
        <br>
        <p>Les autres caractéristiques de ce travail sont la sévérité vestimentaire, laissant les yeux et les mains non concurrencés par d'autres détails, le paysage de fond spectaculaire87, le travail des couleurs et la nature de la technique de peinture très douce employant des huiles, mais posées un peu comme la tempera et mélangées à la surface de sorte que les coups de pinceau semblent indissociables. Vasari a exprimé l'avis que la façon de peindre ferait même « le plus confiant des maîtres [de la peinture]… désespérer et perdre courage »27. L'état de conservation remarquable et le fait qu'il n'y ait aucun signe visible de réparations ou de surcouches repeintes sont extrêmement rares pour une peinture de cette période38.</P>
        <br><!-- hna habest les notes et les ref -->
        <p>Dans La Vierge, l'Enfant Jésus et sainte Anne, la composition reprend de nouveau le thème de personnages dans un paysage que Jack Wasserman, dans son livre Leonardo da Vinci (1975), qualifie de « saisissant par sa beauté »44 et renvoie à la peinture inachevée de saint Jérôme avec le personnage faisant un angle oblique avec l'un de ses bras. Ce qui rend La Vierge, l'Enfant Jésus et sainte Anne si rare est la présence de deux ensembles dans une perspective différente, mais se superposant. Marie est assise sur les genoux de sa mère, sainte Anne. Elle se penche en avant pour prendre dans ses bras l'enfant Jésus qui joue avec un agneau, signe de l'imminence de son propre sacrifice23. Ce tableau, copié à plusieurs reprises, a influencé Michel-Ange, Raphaël et Andrea del Sarto8 et, à travers eux, Pontormo et Le Corrège. Le style de la composition a été adopté en particulier par les peintres vénitiens Le Tintoret et Paul Véronèse.</P>
        <br>
        </P>
    </details>
</section>
<%- include('partials/footer'); -%>