<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>

<section>
    <h2>Pensée de Léonard de Vinci</h2>
    <hr>
    <details><!-- pour le pli -->
        <summary><h3>Méthode de Léonard de Vinci</H3></summary><!-- pour le titre du summary-->
        <p>
        <br>

        <figure><!-- pour n'importe quelle illustration -->
            <img alt="La statue de Léonard sur le Piazzale des Offices de Florence." src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Leonardo_Offices_Florence.jpg/220px-Leonardo_Offices_Florence.jpg">
            <figcaption><strong>Lastatue de Léonard sur le<br>Piazzale des Offices de Florence.</strong></figcaption>
        </figure>

        <!-- elements paragraphes -->
        <p>Léonard de Vinci a un besoin de rationaliser inconnu jusqu’alors chez les techniciens. Avec lui la technique n’est plus affaire d’artisans, de personnes ignorantes et de traditions plus ou moins valables et plus ou moins comprises par ceux qui étaient chargés de l’appliquer. George Sarton, historien des sciences, indique que Léonard de Vinci a recueilli une « tradition orale et manuelle, non une tradition littéraire110. »</p>
        <br>
        <p>C’est d’abord par les échecs, par les erreurs, par les catastrophes qu’il essaie de définir la vérité : les lézardes des murs, les affouillements destructeurs des berges, les mauvais mélanges de métaux sont autant d’occasions de connaître les bonnes pratiques.</p>
        <br>
        <p>Progressivement, il élabore une sorte de doctrine technique, née d’observations bientôt suivies d’expériences qui furent parfois conduites sur de petits modèles. Harald Höffding présente sa pensée comme un mélange d’empirisme et de naturalisme111. En effet, si pour Léonard de Vinci « La sagesse est la fille de l'expérience »112, elle permet de vérifier constamment ses intuitions et théories, car « L'expérience ne se trompe jamais ; ce sont vos jugements qui se trompent en se promettant des effets qui ne sont pas causés par vos expérimentations »112.</p>
        <br>
        <p>La méthode de Léonard de Vinci a certainement consisté dans la recherche de données chiffrées110 et son intérêt pour les instruments de mesure en témoigne. Ces données étaient relativement faciles à obtenir dans le cas des poutres en flexion par exemple, beaucoup plus compliquées dans le domaine des arcs ou de la maçonnerie. La formulation des résultats ne pouvait être que simple, c’est-à-dire exprimée le plus souvent par des rapports. Cette recherche effrénée de l’exactitude est devenue la devise de Léonard de Vinci, Hostinato rigore (« obstinée rigueur »)113. C’est néanmoins la première fois qu’on voit appliquer de telles méthodes dans les métiers où on dut longtemps se contenter de moyens irraisonnés d’appréciation.</p>
        <br>
        <p>Ce faisant, Léonard en est arrivé à pouvoir poser des problèmes en termes généraux. Ce qu’il cherche avant tout ce sont des connaissances générales, applicables dans tous les cas, et qui sont autant de moyens d’action sur le monde matériel. Pour autant sa « science technique » reste fragmentaire. Elle s’attache à un certain nombre de problèmes particuliers, traités très étroitement, mais il y manque encore la cohérence d’ensemble qu'on trouvera bientôt chez ses successeurs17.</p>
        <br>
        <p>Pour lui, cette recherche dans tous les domaines de la science et de l'art est normale, car tout est lié. Sa curiosité et son activité perpétuelle constituent le moyen de garder un esprit vivace, car « Le fer se rouille, faute de s'en servir, l'eau stagnante perd de sa pureté et se glace par le froid. De même, l'inaction sape la vigueur de l'esprit »112. Léonard de Vinci considère la peinture, par exemple, comme l'expression visuelle d'un tout ; l'art, la philosophie et la science sont, selon lui, indissociables et pouvant expliquer en partie son approche de polymathe et « Qui blâme la peinture n'aime ni la philosophie ni la nature »112. En proposant une « synthèse par la beauté », Léonard de Vinci illustre à lui seul ce que fut le grand courant d'innovation de la Renaissance114.</p>
        <br>
        <p>Cependant, cette tentative de grande synthèse - art-science - fût un échec et marqua la séparation « croissante et définitive » des domaines que sont l’art et les sciences, et marque ainsi le début de l’âge moderneNote 24.</p>
        <br>
        </P>
    </details>
</section>


<section>
    <details>
        <summary><H3>Morale et éthique</H3></summary>
        <p><br>
        <p>Léonard de Vinci pense que l'homme doit s'engager activement à combattre le mal et faire le bien, car « Celui qui néglige de punir le mal aide à sa réalisation »112. Il indique également qu'il ne se fait aucune illusion sur la nature de l'homme et de la façon dont il pourrait utiliser ses inventions, comme il le fait en préambule à une présentation du sous-marin :
        <br><br><em>
        <blockquote>
        « Je ne décris pas ma méthode pour rester sous l'eau ni combien de temps je peux y rester sans manger. Et je ne les publie et ne les divulgue pas, en raison de la nature maléfique des hommes, qui les utiliseraient pour l'assassinat au fond de la mer en détruisant les navires en les coulant, eux et les hommes qu'ils transportent116. »</blockquote></em></p>
        <br>
        <p>Léonard de Vinci place également la récompense morale bien au-dessus des récompenses matérielles :
        <br><br><em><blockquote>
        « Ce ne sont pas les richesses, qui peuvent être perdues. La vertu est notre vrai bien et la vraie récompense de son possesseur. Elle ne peut être perdue, elle ne peut nous abandonner, sauf quand la vie s'enfuit112. »</blockquote></em></p>
        <br>
        </P>
    </details>
</section>
    
    
<section>
    <details>
        <summary><H3>Végétarisme</H3></summary>
        <p><br>
        <p>Léonard de Vinci, connu de son vivant pour acheter des oiseaux en cage afin de les libérer117, était aussi célèbre pour être végétarien par refus de nuire aux animaux (à la manière des « Guzzarati » ou hindous)118, ce qui peut ainsi le mettre dans la lignée de la philosophie de Pythagore ou d'Empédocle d'Agrigente (qui inspirèrent aussi Giordano Bruno). Léonard de Vinci écrit à ce propos :
        <br><br><em><blockquote>
        « Homme, si vous êtes vraiment, comme vous le décrivez, le roi des animaux, — j'aurai dit plutôt le roi des brutes, la plus grande de toutes ! — pourquoi prenez-vous vos sujets et enfants pour satisfaire votre palais, pour des raisons qui vous transforment en une tombe pour tous les animaux ? […] La Nature ne produit-elle peut-être pas en abondance des aliments simples ? Et si vous ne pouvez pas vous contenter de tels aliments simples, pourquoi ne préparez-vous point vos repas en mélangeant entre eux ces aliments [d'origines végétales] de façon sophistiquée ? »
        .</blockquote></em>
        — Quaderni d’Anatomia II 14 r</p><br>
        </p>
    </details>
</section>

<%- include('partials/footer'); -%>