<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>

<section>
    <h2>Postérité de Léonard de Vinci</H2>
    <hr>
    
    <figure>
        <img alt="Étude de Léonard de Vinci sur le corps humain"src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Da_Vinci_Vitruve_Luc_Viatour.jpg/220px-Da_Vinci_Vitruve_Luc_Viatour.jpg">
        <figcaption><strong>Étude de Léonard de Vinci<br>sur le corps humain. Ce<br>dessin est connu sous le nom<br>de l’homme de Vitruve,<br>1485-1490.</strong></figcaption>
    </figure>
    <!-- elements paragraphes -->
    <p>Léonard de Vinci incarne parfaitement l’esprit de la Renaissance, époque des « Grandes Découvertes ». Génie universel, curieux de tout, parfois vu comme un personnage entre Faust et Platon43, il a consacré sa vie à la recherche de la connaissance. Il imagine de multiples appareils et machines, dont la première « machine volante », qui resteront au stade de dessins. Plus qu’en tant que scientifique proprement dit, Léonard de Vinci a impressionné ses contemporains et les générations suivantes par son approche méthodique du savoir, du savoir apprendre, du savoir observer, du savoir analyser. La démarche qu’il déploie dans l’ensemble des activités qu’il aborde, aussi bien en art qu’en technique — les deux ne se distinguant d’ailleurs pas dans son esprit — notamment en horlogerie, procède d’une accumulation préalable d’observations détaillées, de savoirs disséminés çà et là, qui tend vers un surpassement de ce qui existe déjà, avec la perfection pour objectif. Bon nombre des croquis, notes et traités de Léonard de Vinci ne sont pas à proprement parler des trouvailles originales, mais le résultat de recherches effectuées dans un souci encyclopédique, avant l’heure. « Léonard de Vinci se classe mal et c'est en ce sens qu'il a paru exceptionnel »17.</P>
    <br>
    <p>De son vivant, Léonard a déjà une renommée telle que le roi François Ier l'a ramené en France comme un trophée, et a affirmé l'avoir accompagné dans sa vieillesse et l'avoir tenu dans ses bras quand il est mort. La Mort de Léonard de Vinci, telle que représentée par Dominique Ingres, constitue cependant une vision apparemment très romancée. En réalité, François Ier était probablement à Saint-Germain-en-Laye au moment de son décès, en effet il y a signé un édit royal le lendemain du décès de Léonard de Vinci, le 3 mai119.</p>
    <br>
    <p>L'intérêt pour de Vinci n'a jamais diminué depuis cette période. Giorgio Vasari, dans Le Vite, édition de 156827, introduit son chapitre sur Léonard de Vinci avec les mots suivants :
    <br><br><em><blockquote>
    « Dans le cours normal des événements, beaucoup d'hommes et de femmes sont nés avec des talents remarquables ; mais, parfois, d'une manière qui transcende la nature, une seule personne est merveilleusement dotée par le paradis avec beauté, la grâce et le talent dans une telle abondance qu'il laisse les autres hommes loin derrière. Tous ses actes semblent inspirés et, de fait, tout ce qu'il fait vient clairement de Dieu plutôt que de compétences humaines. Tout le monde reconnaît que c'était vrai pour Léonard de Vinci, un artiste d'une beauté physique étonnante, qui a affiché une grâce infinie dans tout ce qu'il a fait et qui cultivait son génie si brillamment que tous les problèmes qu'il a étudiés, il les résolvait avec facilité27. »</blockquote></em></p>
    <br>
    <figure class="right">
        <img alt="La Mort de Léonard de Vinci par Dominique Ingres"src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/IngresDeathOfDaVinci.jpg/220px-IngresDeathOfDaVinci.jpg">
        <figcaption><strong><p>La Mort de Léonard de Vinci<br>par Dominique Ingres,<br>montrant Léonard mourant<br>dans les bras de François Ier,<br>événement contesté par les<br>historiens.</p></strong></figcaption>
    </figure>
    <p>Giorgio Vasari pose ainsi les premiers jalons du mythe de Léonard de Vinci : peintre parfait, courtisan et bel homme, génie ombrageux fasciné par la laideur, mais incapable d'achever ses travaux, les anecdotes de Vasari étant reprises et remaniées dans les biographies de Léonard de Vinci jusqu'à aujourd'hui120.</p>
    <br>
    <p>L'admiration continue qu'ont eue, pour Léonard, les peintres, les critiques et les historiens, se reflète dans de nombreux autres hommages écrits. Baldassare Castiglione, auteur du Livre du courtisan, écrit, en 1528 : « Un autre des plus grands peintres de ce monde, qui regarde d'en haut son art dans lequel il est sans égal »121 tandis que le biographe « Anonimo » Gaddiano a écrit, vers 1540 : « Il fut si exceptionnel et universel qu'on peut le dire né d'un miracle de la nature »122.</p>
    <br>
    <p>Les écrits de Léonard de Vinci ne sont publiés qu'un siècle après sa mort ; l'édition bilingue français-italien de son Traité de la peinture (Trattato della pittura di Leonardo da Vinci), est éditée à Paris en 1651. Ses tableaux ne sont alors pas étudiés, n'étant redécouverts, comme ses Carnets (le premier carnet à être étudié correspond à des extraits inédits des manuscrits du Codex Atlanticus que le physicien italien Giovanni Battista Venturi déchiffre en 1797 à Paris123), qu'au xviiie et surtout au xixe siècle qui voit en lui un prophète de la modernité120.</p>
    <br>
    <p>Le xixe siècle a introduit une certaine admiration pour le génie Léonard, Johann Heinrich Füssli écrivant en 1801 : « Ainsi fut l'aube de l'art moderne, lorsque Léonard de Vinci apparut avec une splendeur qui distançait l'excellence habituelle : composé de tous les éléments qui constituent l'essence même du génie »124, ce qui est repris par A. E. Rio, qui écrit en 1861 : « Il était au-dessus de tous les autres artistes grâce à la force et la noblesse de ses talents »125. La variété du champ d'application de Léonard, transmise par ses carnets est connue, ainsi que ses peintures. Hippolyte Taine écrit en 1866 : « Il ne peut sans doute pas y avoir dans le monde un exemple d'un génie si universel, si capable de s'épanouir, si empli de nostalgie envers l'infini, si naturellement raffiné, si autant en avance sur son propre siècle et les siècles suivants126. » Le célèbre historien d'art Bernard Berenson écrit en 1896 : « Léonard est un artiste dont on peut dire avec une parfaite littéralité : tout ce qu'il a touché s'est transformé en une chose d'une éternelle beauté. Qu'il s'agisse de la section transversale d'un crâne, la structure d'une mauvaise herbe ou une étude des muscles, il l'a, avec son sens de la ligne et de la lumière et de l'ombre, à jamais transformée en des valeurs qui communiquent la vie127. Charles Baudelaire le cite même dans Les Fleurs du mal (1857)128. »</p>
    <br>
    <figure>
        <img alt="Reproduction au clos Lucé du char de combat de Léonard."src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/DaVinciTankAtAmboise.jpeg/220px-DaVinciTankAtAmboise.jpeg">
        <figcaption><strong>Reproduction au clos Lucé du<br> char de combat de Léonard.</strong></figcaption>
    </figure>
    <p>L'intérêt pour le génie Léonard s'est maintenu sans relâche ; des experts étudient et traduisent ses écrits, analysent ses tableaux en utilisant des techniques scientifiques, argumentent sur les œuvres qu'on lui attribue et recherchent des œuvres qui ont été enregistrées, mais jamais découvertes129. La critique d'art Liana Bortolon (it) écrit dans son livre The Life and Times of Leonardo (1967) : « En raison de la multiplicité des intérêts qui l'ont incité à poursuivre tous les domaines de connaissances, […] Léonard peut être considéré, à juste titre, d'avoir été le génie universel par excellence et avec toutes les harmoniques inhérentes à ce terme. L'homme est aussi mal à l'aise aujourd'hui face à un génie qu'il l'a été au xvie siècle. Cinq siècles se sont écoulés et nous voyons encore Léonard avec une grande frayeur18. » Les foules font toujours la queue pour voir ses plus célèbres œuvres d'art : par exemple, le Musée du Louvre doit une grande part de sa notoriété à La Joconde.</p>
    <br>
    
    <p>Avec le best-seller Da Vinci Code, roman mêlant faits historiques et artifices scénaristiques, Dan Brown a donné un nouvel élan à l'intérêt pour de Vinci en 2003. Le roman a été adapté au cinéma par Ron Howard.</p>
    <br>
    <p>D'après un article du Monde130, la boîte de vitesses de la Tata Nano a été imaginée à partir d'un modèle Léonard de Vinci : il s'agit tout simplement d'une lanterne en forme de tronc de cône qu'il était sans doute difficile de manœuvrer pour la laisser en contact avec la roue dentée sur laquelle elle s'engrenait17.</p>
    <br>
    <figure class="right">
        <img alt="Le parachute de Léonard à forme pyramidale." src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/%D0%9F%D0%B0%D1%80%D0%B0%D1%88%D1%8E%D1%82.jpg/170px-%D0%9F%D0%B0%D1%80%D0%B0%D1%88%D1%8E%D1%82.jpg">
        <figcaption><strong>Le parachute de Léonard<br>à forme pyramidale.</strong></figcaption>
    </figure>
    <p>En 2007, un couple de chercheurs italiens a émis une hypothèse sur la présence d'une partition de musique cachée à l'intérieur de La Cène. La disposition des mains des personnages et des pains sur la table donnerait une petite mélodie131.</p>
    <br>
    <p>Le 26 avril 2008, un saut a été réalisé avec un parachute conçu selon les croquis et textes de Léonard de Vinci datant de 1485. Le Suisse Olivier Vietti-Teppa s'est élancé au-dessus de l'aéroport militaire de Payerne depuis un hélicoptère en vol stationnaire à 650 mètres d'altitude, avec une réplique du parachute fabriquée avec des matériaux modernes132,133 : il mesura une vitesse de chute de 3,9 m/s et put atterrir normalement134. En 2000, le Britannique Adrian Nicholas avait également réalisé un saut avec une réplique du parachute, mais celui-ci étant plus fidèle à l'original, il pesait 80 kg et présentait des risques à l'atterrissage. L'homme avait abandonné la réplique en vol pour faire un atterrissage avec un parachute actuel.</p>
    <br>
    <p>Le 18 décembre 2008, lors d'une restauration, des membres du personnel du Musée du Louvre à Paris découvrent trois dessins représentant une tête de cheval, un crâne et un enfant au dos de La Vierge, l'Enfant Jésus et sainte Anne, vraisemblablement de Léonard de Vinci135.</p>
    <br>
    <p>En France, en 2015, 94 établissements scolaires portent son nom, fait rarissime pour une personnalité étrangère136.</p>
    <br>
    <p>Le 15 novembre 2017, son tableau Salvator Mundi reconnu authentique en 2005, est vendu à New York chez Christie's pour la somme de 450,3 millions de dollars, ce qui en fait la toile la plus chère du monde et de l'histoire137.</p>
    <br>
    <p>A l'occasion des 500 ans de sa mort en 2019, le musée du Louvre à Paris consacre une exposition évènement regroupant un très grand nombre de chef-d'oeuvres attribués à Léonard de Vinci138.</p>
    <br>
</section>
<%- include('partials/footer'); -%>