<%- include('partials/header'); -%>

<%- include('partials/nav'); -%>

<section>
    <H2>Relations et influences</H2>
    <hr>
    <details>
        <summary>
        <h3>Léonard à Florence : maîtres et contemporains</h3></summary>
        <p>
        <br>
        
        
        <figure>
            <img alt="La Porte du Paradis de Lorenzo Ghiberti" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Gylleneportarna.jpg/220px-Gylleneportarna.jpg">
            <figcaption><strong>La Porte du Paradis de <br>Lorenzo Ghiberti, 1425-1452,<br> a été une des fiertés<br> communes pour les artistes <br>florentins dont beaucoup<br> participèrent à sa création.</strong></figcaption>
        </figure>
        
        
        <!-- elements paragraphes -->
        <p>Léonard commence son apprentissage avec Andrea del Verrocchio en 1466, année où le maître de Verrocchio, le grand sculpteur Donatello, meurt. Le peintre Paolo Uccello, dont les premières expériences avec la perspective influencèrent le développement de la peinture des paysages, est alors très âgé. De même, les peintres Piero della Francesca et Fra Filippo Lippi, le sculpteur Luca della Robbia et l'architecte et écrivain Leon Battista Alberti ont environ 60 ans. Les artistes les plus renommés de la génération suivante sont le maître de Léonard : Andrea del Verrocchio, Antonio Pollaiuolo et le sculpteur Mino da Fiesole.</P>
        <br>
        <p>La jeunesse de Léonard se déroule dans une maison de Florence ornée des œuvres de ces artistes et par les contemporains de Donatello, Masaccio — dont les fresques figuratives et réalistes sont imprégnées d'émotion — et Lorenzo Ghiberti, dont la Porte du Paradis montre la complexité des compositions, alliant travaux architecturaux et soin des détails. Piero della Francesca a fait une étude détaillée de la perspective et sera le premier peintre à faire une étude scientifique de la lumière. Ces études et les traités de Leone Battista Alberti doivent avoir un effet profond sur les jeunes artistes et, en particulier, sur les propres observations de Léonard et ses œuvres d'art.</P>
        <br>
        <P>La représentation du nu de Masaccio montrant Adam et Ève quittant le paradis, avec Adam sans ses organes génitaux — masqués par une feuille de vigne —, crée une image très expressive des formes humaines qui influencera beaucoup la peinture, notamment parce qu'elles sont exprimées en trois dimensions par une utilisation novatrice de la lumière et de l'ombre que Léonard développera dans ses propres œuvres. L'humanisme de la Renaissance, influençant le David de Donatello, peut être vu dans les peintures les plus tardives de Léonard, en particulier Saint Jean Baptiste.</P>
        <br>
        <P>Florence est dirigée à l'époque par Laurent de Médicis et son jeune frère Julien, tué lors de la conjuration des Pazzi en 1478. Ludovic Sforza, qui gouverne Milan entre 1479 et 1499 et chez qui Léonard a été envoyé comme ambassadeur de la cour des Médicis, est aussi son contemporain.</P>
        <br>
        <p>C'est également par l'intermédiaire des Médicis que Léonard fait la connaissance d'anciens philosophes humanistes dont Marsile Ficin, partisan du néoplatonisme, et Cristoforo Landino, auteur de commentaires sur les écrits classiques. Jean Pic de la Mirandole est également associé à l'académie des Médicis. Léonard écrit plus tard, dans la marge d'un journal : « Les Médicis m’ont fait et les Médicis m’ont détruit » ; mais le sens de ce commentaire reste discuté.</p>
        <br>
        <p>Bien que l'on cite ensemble les trois « géants » de la haute Renaissance, Léonard de Vinci, Michel-Ange et Raphaël ne sont pas de la même génération. Léonard a 23 ans quand nait Michel-Ange et 31 ans à la naissance de Raphaël. Raphaël mourra en 1520, une année après de Vinci et Michel-Ange vivra encore quarante-cinq ans.</P>
        <br>
        </P>
    </details>
</section>

<section>
    <details>
        <summary><H3>Assistants et élèves</H3></summary>
        <p>
        <br>
        <figure class="right"><!-- classe right pour faire floter les image vers la droite -->
            <img alt="Salai servit de modèle pour Saint Jean Baptiste"src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Leonardo_da_Vinci_-_Saint_John_the_Baptist_C2RMF_retouched.jpg/180px-Leonardo_da_Vinci_-_Saint_John_the_Baptist_C2RMF_retouched.jpg">
            <figcaption><strong>Salai servit de modèle<br> pour Saint Jean Baptiste,<br> 1513-1516, Paris,<br> Musée du Louvre.</strong></figcaption>
        </figure>

        <p>Gian Giacomo Caprotti da Oreno70, dit « il Salaino » (« le petit diable ») ou Salai, a été décrit par Giorgio Vasari comme « un gracieux et beau jeune homme avec des cheveux fins et bouclés, en lequel Léonard était grandement ravi ». Salai entre au service de Léonard en 1490 à l'âge de 10 ans. Leur relation n'est pas facile. Un an plus tard, Léonard fait une liste des délits du garçon, le qualifiant de « voleur », « menteur », « têtu » et « glouton ». Le « petit diable » avait volé de l'argent et des objets de valeur au moins à cinq reprises, et avait dépensé une fortune en vêtements, dont vingt-quatre paires de chaussures71. Néanmoins, les carnets de Léonard des premières années de leur relation contiennent beaucoup d'images de l'adolescent. Salai est resté son serviteur et son assistant durant les trente années suivantes.</p>
        <br>
        <P>En 1506, Léonard prend comme élève Francesco Melzi, âgé de 15 ans, fils d'un aristocrate lombard. Melzi devient le compagnon de vie de Léonard et il est considéré comme son élève favori. Il se rend en France avec Léonard et Salai, et reste avec lui jusqu'à sa mort. Salai quitte cependant la France en 1518 pour retourner à Milan. Il y construit une maison dans le vignoble de la propriété de Léonard qu'il s'est finalement vu léguer. En 1525, Salai meurt d'une mort violente, soit assassiné, soit à la suite d'un duel.</P>
        <br>
        <P>Salai exécute un certain nombre de tableaux sous le nom d'« Andrea Salai », mais, bien que Giorgio Vasari prétende que Léonard « lui a appris beaucoup de choses sur la peinture », son travail est généralement considéré comme étant de moindre valeur artistique que celui des autres élèves de Léonard, comme Marco d'Oggiono ou Giovanni Antonio Boltraffio. En 1515, il peint une version nue de La Joconde, dite « Monna Vanna ». À sa mort en 1525, la Joconde appartenant à Salai a été évaluée à cinq cent cinq lires, ce qui est une valeur exceptionnellement élevée pour un portrait de petite taille.</P>
        <br>
        <P>Giovanni Antonio Boltraffio et Marco d'Oggiono rejoignent l'atelier de Léonard lorsqu'il est de retour à Milan, mais de nombreux autres élèves moins connus tels que Giovanni Ambrogio de Predis, Bernardino de Conti, Francesco Napoletano ou encore Andrea Solario sont aussi présents.</P>
        <br>
        </P>
    </details>
</section>


<section>
    <details>
        <summary><h3>Vie privée</h3></summary>
        <p><br>
        <figure>
            <img alt="Étude pour le portrait d'Isabelle d'Este"src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Da_Vinci_Isabella_d%27Este.jpg/180px-Da_Vinci_Isabella_d%27Este.jpg">
            <figcaption><strong>Étude pour le portrait <br>d'Isabelle d'Este, vers <br>1500. Isabelle semble<br> avoir été la seule amie<br> de sexe féminin de<br> Léonard.</strong></figcaption>
        </figure>
        
        <P>Léonard de Vinci a eu beaucoup d'amis qui sont reconnus dans leurs domaines respectifs ou ont eu une influence importante sur l'Histoire. Il s'agit notamment du mathématicien Luca Pacioli avec qui il a collaboré pour un livre, César Borgia au service duquel il a passé deux années, Laurent de Médicis et le médecin Marcantonio della Torre. Il a rencontré Michel-Ange dont il a été le rival et a témoigné une « connivence intime » avec Nicolas Machiavel, les deux hommes ayant pu développer une étroite amitié épistolaire. Parmi ses amis, se trouvent également Franchini Gaffurio et Isabelle d'Este. Léonard semble ne pas avoir eu d'étroites relations avec les femmes, sauf avec Isabelle. Il a fait un portrait d'elle, au cours d'un voyage qui le mena à Mantoue, qui semble avoir été utilisé pour créer une peinture, aujourd'hui perdue18. Il était également ami de l'architecte Jacopo Andrea da Ferrara jusqu'à son assassinat.</P>
        <br>
        <P>Au-delà de l'amitié, Léonard garde sa vie privée secrète. De son vivant, ses capacités extraordinaires d'invention, son « exceptionnelle beauté physique », sa « grâce infinie », sa « grande force et générosité », la « formidable ampleur de son esprit », telles que décrites par Vasari, ont attisé la curiosité. De nombreux auteurs ont spéculé sur les différents aspects de la personnalité de Léonard. Sa sexualité a souvent été l'objet d'études, d'analyses et de spéculations. Cette tendance a commencé au milieu du xvie siècle et a été relancée au cours des xixe et xxe siècles, notamment par Sigmund Freud.</p>
        <br>
        <p>Les relations les plus intimes de Léonard sont avec ses élèves : Salai et Francesco Melzi. Melzi a écrit que les sentiments de Léonard étaient un mélange d'amour et de passion. Il a été décrit depuis le xvie siècle que ces relations étaient d'un caractère érotique. Depuis cette date, des auteurs ont beaucoup écrit au sujet de son homosexualité, voire de sa pédérastie présumée et du rôle de cette sexualité dans son art, en particulier dans l'impression androgyne et érotique qui se manifeste dans Bacchus et plus explicitement dans un certain nombre de ses dessins. Cependant, l'homosexualité supposée platonique et courtoise, voire refoulée, de l'artiste, reste très hypothétique et il est difficile de se prononcer sur les mœurs de Léonard.</P>
        <br>
        <p>Léonard est passionné par la nature et les animaux au point d’acheter des oiseaux en cage pour leur rendre leur liberté. Il est également très bon musicien. Il est admis que Léonard était gaucher et ambidextre, ce qui expliquerait son utilisation de l'écriture spéculaire.</P>
        <br>
        </p>
    </details>
</section>
    

<%- include('partials/footer'); -%>